@page
@inject ICMSService _cmsService
@{
    ViewData["Title"] = "手机号登陆";
    ViewData["Desc"] = "手机号登陆";
    ViewData["Tag"] = 3;
    var siteBasic = _cmsService.GetBasic();
    var mngSetting = _cmsService.GetSetting();
    ViewBag.SiteBasic = siteBasic;
    ViewBag.SiteSetting = mngSetting;
}

@section head
    {
    <link rel="stylesheet" type="text/css" href="/Content/css/first_login.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/login.css">
    <script type="text/javascript" src="/Content/js/layui/layui.js"></script>
    <script type="text/javascript" src="/Content/js/login.js?v=2"></script>
}

<div class="logo_box">
    <img src="/Content/images/logo_vertical.png" />
</div>

<div class="login_content padding_box">
    <div class="login_tab">
        <img src="/Content/images/introduce.png" class="logicon">
        <h1>经销商登录</h1>
        <a href="/Login/">>>生产管理登录</a>
        <div class="clearfix"></div>
    </div>
    <div class="row_box">
        <h2>用户名</h2>
        <div class="input_box"><input type="text" maxlength="11" placeholder="请输入手机号码" id="UserName" name="UserName" /></div>
        <input class="send" type="button" id="sendcode" value="发送验证码" />
    </div>
    <div class="row_box">
        <h2>短信验证码</h2>
        <div class="input_box"><input type="text" id="Code" name="Code" maxlength="4" placeholder="请输入验证码" /></div>
    </div>
    <input type="hidden" name="SystemMemberType" id="SystemMemberType" value="@Convert.ToInt32(DataLibrary.EnumList.SystemMemberType.Seller)" />
    <div class="determine"><input class="common_button" type="submit" value="确定" id="btnLogin_ByPhone"></div>

</div>