@page "{cid:int}/{Id:int}.html"
@inject ICMSService _cmsService
@{
    int CId = Convert.ToInt32(RouteData.Values["CId"]);
    int Id = Convert.ToInt32(RouteData.Values["Id"]);
    var model = _cmsService.IcontentColumnDataService.GetContentColumnData(Id, CId);
    // var RelevantNews = _cmsService.IcontentColumnDataService.GetContentColumnDataList("产品电子目录", 1, 5);
    ViewData["Title"] = model["Title"];
    ViewData["Desc"] = model["Title"];
    var siteBasic = _cmsService.GetBasic();
    var mngSetting = _cmsService.GetSetting();
    ViewBag.SiteBasic = siteBasic;
    ViewBag.SiteSetting = mngSetting;

}
@section head{

}

<div id="main" class="part">

    <ul id="menu" class="fl">
        <li class="on">
            <a href="/ProductService/0-1.html">
                <i class="icon-chevron-right"></i>产品电子目录
            </a>
        </li>
        <li>
            <a href="/ProductService/Process">
                <i class="icon-chevron-right"></i>工艺流程
            </a>
        </li>
        <li>
            <a href="/ProductService/Standard">
                <i class="icon-chevron-right"></i>产品标准
            </a>
        </li>
        <li>
            <a href="/ProductService/Authentication/0-1.html">
                <i class="icon-chevron-right/0-1.html"></i>质量认证
            </a>
        </li>
        <li>
            <a href="/ProductService/Sale">
                <i class="icon-chevron-right"></i>销售网络
            </a>
        </li>
    </ul>


    <div id="list" class="fr">
        <div class="tit"><h1>@Html.Raw(model["Title"])</h1></div>
        <div class="con">
            <img src="@Html.Raw(model["Image"])" style="max-width:600px;max-height:900px;margin-top:30px;margin-bottom:30px" />
        </div>
    </div>
</div>