@charset "utf-8";
/* CSS Document */

@import url('base.css');
body {
    margin: 0;
    background: #f5f5f5;
}

.tipitem.nodata .tip {
    margin: 12px 0 25px 0;
}

.nodata {
    position: fixed;
    height: 100%;
    height: 285px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-size: 18px;
    padding-top: 200px;
    background-size: 60px 110px;
    background-position: 48% 44%;
}

body * {
    font-family: "微软雅黑";
    margin: 0;
    padding: 0;
}

input[type="text"] {
    border: none;
    box-shadow: none;
    transition: none;
    color: #333;
    margin: 0;
    padding: 0;
}

    input[type="text"]:focus {
        box-shadow:none;
        border:none;
    }

.fontCss {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    line-height: 33px;
    width: 36%;
    color: rgb(110, 110, 110);
    font-family: 微软雅黑, Arial, Tahoma, 宋体;
    font-size: 14px;
    letter-spacing: 2.5px;
}

.clearfix {
    clear: both;
}

a {
    text-decoration: none;
}

    a:focus, a:active, a:hover {
        text-decoration: none;
    }
/*.ImgClass {
    max-width: 60%;
    margin: 0 20% 20px 20%;
}*/
.ImgClass {
    width: 48%;
    margin: 0 1% 10px 1%;
    float: left;
}

.news .content p {
    white-space: inherit;
    width: inherit;
    text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
}

.iw_poi_title {
    color: #CC5522;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding-right: 13px;
    white-space: nowrap
}

body {
    margin: 0;
    padding: 0;
}

.spanclass {
    border: 1px solid #e5e5e5;
    width: 85px;
    height: 30px;
    margin: 10px 20px 5px 0;
    float: right;
    border-radius: 4px;
}

.info {
    width: 100%;
    height: 75px;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
}

.title {
    font-size: 16px;
    padding: 15px;
    position: relative;
    top: 10px;
}

.imgSpan {
    margin-left: 15px;
    position: relative;
    top: 5px;
}

.iw_poi_content {
    font: 12px arial,sans-serif;
    overflow: visible;
    padding-top: 4px;
    white-space: -moz-pre-wrap;
    word-wrap: break-word
}

.address .content img {
    width: 100%;
    margin-top: 0px;
    display: block;
}

.BMap_cpyCtrl.anchorBL {
    display: none;
}

.content img {
max-width:100%;
}

img {
    max-width: 100%;
    vertical-align: inherit;
}

body .container_box input {
    border: none;
    box-shadow: none;
    color: #333;
    margin: 0;
    padding: 0;
}

    body .container_box input:active, body .container_box input:hover, body .container_box input:focus {
        border: none;
        box-shadow: none;
        outline: none;
    }

input::-webkit-input-placeholder, #doc-ta-1::-webkit-input-placeholder {
    color: #ccc;
}

input:-moz-placeholder, #doc-ta-1:-moz-placeholder {
    color: #ccc;
}

input::-moz-placeholder, #doc-ta-1::-moz-placeholder {
    color: #ccc;
}

input:-ms-input-placeholder, #doc-ta-1:-ms-input-placeholder {
    color: #ccc;
}
.left {
    float: left;
}

/* header --------------------------------------*/
.header .left {
    float: left;
    width:80%;
}

.header {
    width: 100%;
    height: 55px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.logo {
    width: 44%;
    display: inline-block;
}
    .logo img {
        max-width: 63%;
        max-height: 38px;
        margin-top: 11px;
        padding-left: 5px;
        vertical-align: baseline;
    }
.logo2 {

}
    .logo2 img {
        max-width: 23%;
        max-height: 38px;
        margin: 0px 0 3px 3px;
        padding-left: 0;
        vertical-align: baseline;
    }

.logo .line {
    background: #b3b3b3;
    width: 1px;
    height: 25px;
    display: inline-block;
    margin: 0 1px 3px 1px;
}

.culture {
    width: 108px;
    margin-bottom: 9px;
}

.header .right {
    float: right;
    width: 18%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .header .right .before {
        width: 24px;
        margin-top: 16px;
    }

    .header .right .after {
        width: 18px;
        margin: 0 -1px -4px 0;
    }

    .header .right span {
        line-height: 55px;
        font-size: 13px;
        color: #999;
    }
/* nav --------------------------------------*/
.nav {
    background: #888;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 55px;
    left: 0;
    z-index: 100;
}

    .nav a {
        color: #fff;
        font-size: 14px;
        line-height: 40px;
        width: 25%;
        float: left;
        text-align: center;
    }

        .nav a:hover, .nav a:focus, .nav a:active {
            background: #7d7d7d;
        }

.current {
    background: #7d7d7d;
}

.perch {
    height: 95px;
}
/* container --------------------------------------*/
.container_box {
    margin-bottom: 10px;
}

.portion {
    background: #fff;
    padding-left: 12px;
    margin-top: 10px;
}

.title_bar {
    background-image: -webkit-linear-gradient(top, #e5e5e5, #e5e5e5 50%, transparent 50%);
    background-image: linear-gradient(180deg, #e5e5e5, #e5e5e5 50%, transparent 50%);
    background-size: 120% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
}

    .title_bar img {
        width: 17px;
        margin-bottom: -3px;
        margin-right: 4px;
    }

    .title_bar h1 {
        font-size: 15px;
        display: inline-block;
    }

.content {
    padding-right: 12px;
    margin-top: 5px;
}

    .content p p {
        line-height: 20px;
        font-size: 14px;
        color: grey;
    }

    .content p span {
        line-height: 20px;
        font-size: 14px !important;
        color: grey;
    }

    .content span {
        line-height: 20px;
        font-size: 14px;
        color: grey;
    }
    /* common_button --------------------------------------*/
    .content .common_button {
        background: #e50011;
        font-size: 17px;
        color: #fff;
        line-height: 44px;
        width: 100%;
        border-radius: 4px;
        margin: 12px 0 15px 0;
        border: none;
    }

        .content .common_button:focus, .content .common_button:active {
            background: #a3000b;
        }
/* footer --------------------------------------*/
.footer {
    background: #e6e6e6;
    padding: 15px 0 11px 0;
}

    .footer p {
        color: #808080;
        font-size: 13px;
        text-align: center;
        line-height: 20px;
    }
