<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="DBConnectionString" value="Server=114.215.102.245; Port=3306; Uid=quality; Pwd=quality!QAZ@WSX; Database=qualitytracing" />
    <add key="WorkshopProductLine" value="J" />
    <add key="QRCodeUrlString" value="http://t.cn/q" />
    <!--打印配置开始-->
    <add key="DefaultPrinter" value="TEC B-SX5-CN" />
    <add key="PageWidth" value="370" />
    <add key="PageHeight" value="230" />
    <add key="OffsetX" value="-28" />
    <add key="OffsetY" value="-8" />
    <add key="FontSize" value="14" />
    <add key="ProductClassPoint" value="" />
    <add key="GBStandardPoint" value="" />
    <add key="MaterialPoint" value="" />
    <add key="BatcodePoint" value="180,88" />
    <add key="RandomcodePoint" value="305,88" />
    <add key="SpecPoint" value="95,120" />
    <add key="LengthPoint" value="195,120" />
    <add key="WeightPoint" value="95,152" />
    <add key="PiececountPoint" value="195,152" />
    <add key="DatePoint" value="76,182" />
    <add key="BundlecodePoint" value="195,182" />
    <add key="WorkshiftPoint" value="" />
    <add key="QAInspectorsPoint" value="" />
    <add key="QRCodePoint" value="246,147" />
    <add key="QRCodeWidth" value="77" />
    <!--打印配置结束-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>