@charset "utf-8";
/* CSS Document */
/*--------------------------基本设置----------------------------*/
body * {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

.clearfix {
    clear: both;
}
/*--------------------------雪碧图----------------------------*/
.pic {
    background-image: url("../images/image.png");
    display: block;
}

.cssr_email {
    background-position: -1122px -111px;
    width: 22px;
    height: 20px;
}

.cssr_printer {
    background-position: -1090px -114px;
    width: 22px;
    height: 20px;
}

.cssr_telephone {
    background-position: -1058px -112px;
    width: 22px;
    height: 20px;
}

.cssr_address {
    background-position: -1026px -113px;
    width: 22px;
    height: 20px;
}

.cssr_more2 {
    background-position: -982px -102px;
    width: 46px;
    height: 40px;
}

.cssr_more1 {
    background-position: -936px -102px;
    width: 46px;
    height: 40px;
}

.cssr_login {
    background-position: -274px -45px;
    width: 24px;
    height: 24px;
}

.cssr_home_product {
    background-position: -469px -113px;
    width: 446px;
    height: 52px;
}

.cssr_home_mien {
    background-position: -4px -113px;
    width: 446px;
    height: 54px;
}

.cssr_home_about {
    background-position: -310px -27px;
    width: 446px;
    height: 52px;
}

.cssr_home_news {
    background-position: -768px -26px;
    width: 446px;
    height: 52px;
}

.cssr_logo {
    background-position: -0px -0px;
    width: 257px;
    height: 112px;
}

.cssr_contact {
    background-position: -1160px -102px;
    width: 30px;
    height: 30px;
}

.cssr_logo_red {
    background-position: -810px -202px;
    width: 165px;
    height: 45px;
}

.cssr_date {
    background-position: -767px -206px;
    width: 22px;
    height: 26px;
}

.cssr_service4 {
    background-position: -688px -207px;
    width: 24px;
    height: 20px;
}

.cssr_service3 {
    background-position: -647px -210px;
    width: 24px;
    height: 20px;
}

.cssr_service2 {
    background-position: -609px -208px;
    width: 24px;
    height: 20px;
}

.cssr_service1 {
    background-position: -731px -209px;
    width: 24px;
    height: 20px;
}

.cssr_news_white3 {
    background-position: -461px -210px;
    width: 53px;
    height: 50px;
}

.cssr_news_white2 {
    background-position: -387px -208px;
    width: 53px;
    height: 50px;
}

.cssr_news_white1 {
    background-position: -537px -210px;
    width: 53px;
    height: 50px;
}

.cssr_news_center3 {
    background-position: -332px -208px;
    width: 31px;
    height: 30px;
}

.cssr_news_center2 {
    background-position: -284px -208px;
    width: 31px;
    height: 30px;
}

.cssr_news_center1 {
    background-position: -237px -208px;
    width: 31px;
    height: 30px;
}

.cssr_service_contact4 {
    background-position: -174px -205px;
    width: 38px;
    height: 38px;
}

.cssr_service_contact3 {
    background-position: -113px -207px;
    width: 38px;
    height: 38px;
}

.cssr_service_contact2 {
    background-position: -53px -208px;
    width: 38px;
    height: 38px;
}

.cssr_service_contact1 {
    background-position: -0px -205px;
    width: 38px;
    height: 38px;
}
/*--------------------------导航----------------------------*/
.top_nav {
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}

.logo {
    font-size: 0;
}

.nav_box {
    width: 1180px;
    margin: auto;
}

.cssr_logo {
    float: left;
}

.nav {
    float: right;
}

    .nav a {
        flaot: left;
        color: #fff;
        font-size: 18px;
        line-height: 112px;
        padding: 0 20px;
    }

    .nav .current {
        color: #e60112;
    }

    .nav a:hover {
        color: #e60112;
    }

.cssr_login {
    float: right;
    margin: 43px 0 0 36px;
}

.Navimg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 112px;
}

.top_nav1 .nav_box {
    position: relative;
}
/*--------------------------面包屑----------------------------*/
.location_box {
    background: #eeeded;
    margin-top: 112px;
}

.location {
    width: 1180px;
    margin: auto;
}

    .location span {
        float: right;
        color: #4c4c4c;
        line-height: 40px;
        font-size: 16px;
    }

        .location span:first-of-type {
            color: #1a1a1a;
        }
/*--------------------------页脚----------------------------*/
.footer {
    background: #292929;
    height: 300px;
}

    .footer * {
        color: #fff;
        font-size: 16px;
    }

    .footer a:hover {
        color: #e60112;
    }

.footer_backdrop {
    position: absolute;
    left: 50%;
    margin-left: -630px;
}

.footer_content {
    padding: 48px 0 26px;
    border-bottom: 1px solid #fff;
}

.footer_box {
    position: relative;
    margin: auto;
    width: 1180px;
}

.footer_nav {
    float: left;
    margin-right: 142px;
}

    .footer_nav:nth-last-child(2) {
        margin-right: 0;
    }

    .footer_nav a {
        display: block;
        line-height: 36px;
    }

    .footer_nav .big_title {
        font-size: 18px;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 14px;
    }

.footer_row {
    margin-bottom: 12px;
}

    .footer_row span {
        float: left;
    }

        .footer_row span:first-of-type {
            margin-right: 6px;
        }

.footer_nav .big_title1 {
    margin-bottom: 23px;
}

.footer_nav .qr_code {
    font-size: 14px;
    display: block;
    margin-top: 6px;
    text-align: center;
}

.copyright {
    text-align: center;
    font-size: 14px;
    display: block;
    line-height: 46px;
}
