body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dt, dd {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: url("../images/header_bg.jpg") /*tpa=http://www.hnmytg.com/Public/Home/images/header_bg.jpg*/ left top repeat-x #EDEDED;
    color: #000;
    font-size: 12px;
    font-family: "Microsoft YaHei","微软雅黑";
}

ul, ol {
    list-style-type: none;
}

select, input, img, select {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

    a:link {
        color: #000;
    }

    a:hover, a:active, a:focus {
        color: #000;
        text-decoration: underline;
    }

.fl, .fm, .left, .middle {
    float: left;
    display: inline;
}

.fr, .right {
    float: right;
}

.clearit {
    clear: both;
}

.part {
    zoom: 1;
    padding: 0px;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
}

    .part:after {
        content: ".";
        display: block;
        clear: both;
        height: 0;
        visibility: hidden;
    }

li {
    background-repeat: no-repeat;
    list-style-type: none;
}

    li img {
        display: block;
    }

.list1 {
}

    .list1 li {
        line-height: 40px;
        overflow: hidden;
        background-position: 5px 18px;
        background-image: url("../images/ico.jpg") /*tpa=http://www.hnmytg.com/Public/Home/images/ico.jpg*/;
        padding-left: 20px;
    }

        .list1 li a, .list1 li a:visited {
            color: #333333;
            font-size: 16px;
        }

    .list1 span {
        float: right;
        font-size: 14px;
        color: #666666;
        margin-right: 10px;
    }

.hd {
    height: 40px;
    background: url("../images/img.png") /*tpa=http://www.hnmytg.com/Public/Home/images/img.png*/ no-repeat;
}

#header {
    width: 980px;
    height: 95px;
    padding-top: 20px;
    margin-bottom: 16px;
}

    #header .logo {
        height: 95px;
        /*width: 510px;*/
        /*background: url("../images/logo.jpg")*/ /*tpa=http://www.hnmytg.com/Public/Home/images/logo.jpg*/ left top no-repeat;
    }
 .headline {
    background: #333;
    width: 2px;
    height: 45px;
    display: inline-block;
    margin: 23px 1px 3px 15px;
}
.fontCss {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    line-height: 24px;
    /* width: 40%; */
    /* font-size: 35px; */
    margin-left: 10px;
    color: #333;
    font-family:楷体;
    font-size: 24px;
}
    #header .callus {
        height: 95px;
        width: 220px;
        background: url("../images/callus.jpg") /*tpa=http://www.hnmytg.com/Public/Home/images/callus.jpg*/ right 30px no-repeat;
    }

#nav {
    width: 980px;
    margin-bottom: 15px;
}

    #nav .nLi {
        width: 109px;
        float: left;
        display: inline;
    }

        #nav .nLi span {
            width: 109px;
            height: 71px;
            display: block;
            background: url("../images/nav_bg.jpg") /*tpa=http://www.hnmytg.com/Public/Home/images/nav_bg.jpg*/ top center no-repeat;
            text-align: center;
            line-height: 70px;
        }

            #nav .nLi span a,
            #nav .nLi span a:visited {
                font-size: 16px;
                color: #000000;
            }

    #nav .sub {
        display: none;
        width: 109px;
        background: #fff;
        position: absolute;
        z-index: 100;
    }

        #nav .sub li {
            height: 41px;
            line-height: 41px;
            text-align: center;
            border-bottom: 1px solid #E1E1E1;
        }

            #nav .sub li a {
                display: block;
                font-size: 14px;
                color: #333;
            }

                #nav .sub li a:hover {
                    background: #A2000D;
                    color: #fff;
                }

#menu {
    width: 220px;
}

    #menu li {
        height: 52px;
        line-height: 52px;
        width: 220px;
        text-indent: 80px;
        border-bottom: 1px solid #EDEDED;
        background: url("../images/img.png") /*tpa=http://www.hnmytg.com/Public/Home/images/img.png*/ 52px -160px no-repeat #F9F9F9;
        cursor: pointer;
        _margin-left: -17px;
        _background: #F9F9F9;
    }

        #menu li.on {
            background: url("../images/img.png") /*tpa=http://www.hnmytg.com/Public/Home/images/img.png*/ 52px -212px #FFFFFF;
            _background: #FFFFFF;
        }

        #menu li a,
        #menu li a:visited {
            font-size: 18px;
            color: #333333;
        }

        #menu li.on a,
        #menu li.on a:visited {
            color: #a2000d;
        }

.page {
    height: 27px;
    overflow: hidden;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
}

    .page span {
        width: 27px;
        height: 27px;
        overflow: hidden;
        line-height: 25px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    .page a {
        border: 1px solid #D2D2D2;
        padding: 5px 10px;
        color: #333;
        font-size: 14px;
        font-family: "Microsoft YaHei", "微软雅黑";
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        margin-right: 5px;
    }

    .page .cur, .page .current {
        border: 1px solid #C96E75;
        padding: 5px 10px;
        color: #C96E75;
        font-size: 14px;
        background: #FFFFFF;
        font-family: "Microsoft YaHei", "微软雅黑";
        margin-right: 5px;
    }

    .page .up a,
    .page .next a {
        padding: 5px 11px;
    }

    .page a:hover {
        border: 1px solid #C96E75;
        color: #C96E75;
        background: #FFFFFF;
    }

#friendlink {
    padding: 10px 30px;
    background: #FFF;
}

    #friendlink .hd {
        height: 20px;
    }

    #friendlink a,
    #friendlink a:visited {
        color: #333;
        height: 30px;
        line-height: 30px;
        margin-right: 10px;
    }

.spacing {
    width: 100%;
    height: 4px;
    background: #c2c2c2;
    margin: 0 auto;
}

#footer {
    height: 200px;
    background: #707070;
    width: 100%;
}

    #footer .footer_row {
        width: 920px;
        padding: 10px 30px;
        margin: 0 auto;
    }

    #footer a {
        line-height: 28px;
        color: #FFF;
        text-align: left;
    }

    #footer ul li {
        line-height: 28px;
        color: #FFF;
        text-align: left;
        font-size: 14px;
    }

    #footer span {
        line-height: 28px;
        color: #FFF;
        text-align: left;
    }

    #footer .footer_row ul {
        float: left;
        margin-right: 199px;
    }

    #footer .footer_row .footer_gov {
        text-align: center;
        border-top: 1px solid #ccc;
        padding-top: 10px;
        margin-top: 10px;
    }

        #footer .footer_row .footer_gov img {
        }

    #footer .footer_row > ul:nth-child(4) {
        padding-right: 0;
        margin-right: 0;
    }
#footer .footer_row .footer_title {
    font-size: 16px;
    line-height: 30px;
}
/* 公共独立类名 */
.hidden {
    display: none !important;
}

#content .contact_row {
    margin-bottom: 20px;
}

    #content .contact_row img {
        width: 28px;
        padding-right: 6px;
    }

.pagenumber_box {
    padding: 0px 0px 10px 2px;
}

    .pagenumber_box a {
        border: 1px solid #e5e5e5;
        background: #fff;
        box-shadow: none;
        margin-bottom: 0;
        padding: 0;
    }

    .pagenumber_box * {
        font-size: 16px;
    }

    .pagenumber_box .total {
        float: left;
        line-height: 50px;
    }

    .pagenumber_box a:focus, .pagenumber_box a:active, .pagenumber_box a:hover {
        border: 1px solid #e50011;
        background: #e50011;
        color: #fff;
    }

    .pagenumber_box .pagenumber {
        float: right;
        margin: 5px 36px 0 0;
    }

.pagenumber a {
    width: 38px;
    height: 38px;
    border-radius: 2px;
    color: #999;
    margin-left: 9px;
    border: 1px solid #e5e5e5;
    background: #fff;
    box-shadow: none;
    margin-bottom: 0;
    padding: 0;
    display: block;
    float: left;
    line-height: 38px;
    text-align: center;
}

.pagenumber .ellipsis {
    float: left;
    margin-left: 9px;
    line-height: 36px;
}

.pagenumber span {
    color: #999;
}

.pagenumber a span {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 7px solid #b3b3b3;
    border-bottom: 5px solid transparent;
    font-size: 0px;
    margin: 13px 10px 12px 15px;
    vertical-align: middle;
}

.pagenumber_box a:focus > span, .pagenumber_box a:active > span, .pagenumber_box a:hover > span {
    border-right: 7px solid #fff;
}

.pagenumber_box a:focus > .span_right, .pagenumber_box a:active > .span_right, .pagenumber_box a:hover > .span_right {
    border-right: 0;
    border-left: 7px solid #fff;
}

.pagenumber a .span_right {
    border-right: none;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid #b3b3b3;
    margin: 15px 0 0 17px;
}

.pagenumber .selected {
    border: 1px solid #ffa0a7;
    color: #ff505d;
    background: #fff3f4;
}

.pagenumber_box .jump {
    float: right;
    width: 200px;
}

    .pagenumber_box .jump input {
        border: 1px solid #e5e5e5;
        width: 36px;
        height: 28px;
        border-radius: 2px;
        text-align: center;
        font-size: 16px;
    }

        .pagenumber_box .jump input:focus, .pagenumber_box .jump input:hover, .pagenumber_box .jump input:active {
            border: 1px solid #e5e5e5;
        }

.jump span {
    line-height: 50px;
    float: left;
    margin-left: 30px;
}

.jump a {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    display: inline-block;
    background: #fff;
    border: 1px solid #e5e5e5;
    line-height: 40px;
    text-align: center;
    color: #999;
    float: right;
    margin-top: 5px;
}
