@page "{cid:int}/{Id:int}.html"
@inject ICMSService _cmsService
@inject Common.IService.IContentGroupService _contentService
@{
    int CId = Convert.ToInt32(RouteData.Values["cid"]);
    int Id = Convert.ToInt32(RouteData.Values["Id"]);
    var model = _cmsService.IcontentColumnDataService.GetContentColumnData(Id, CId);
    ViewData["Title"] = model["Title"];
    ViewData["Desc"] = Util.Extensions.ToHtml(model["Content"].ToString()).Substring(0, 30);
    var siteBasic = _cmsService.GetBasic();
    var mngSetting = _cmsService.GetSetting();
    ViewBag.SiteBasic = siteBasic;
    ViewBag.SiteSetting = mngSetting;
    DataLibrary.SiteCategory Sence = _contentService.GetSiteCategoryByName("钢城风采");
    var Children = _contentService.GetAllDataForRecursion(Sence.Id, Sence.Id);

}
@section head{

}

<div id="main" class="part">

    <ul id="menu" class="fl">
        @{
            for (var i = 0; i < Children.Count; i++)
            {
                <li>
                    <a href="/Culture/OneDetail/@Html.Raw("86"+"/"+Children[i]["id"]+".html")">
                        <i class="icon-chevron-right"></i>@Children[i]["name"]
                    </a>
                </li>
            }
        }
    </ul>

    <div id="content" class="fr">
        <div class="tit"><h1>@Html.Raw(model["Title"])</h1></div>
        <div class="con">
            <p><img style="max-width:600px;max-height:900px;margin-top:30px;margin-bottom:30px" src="@Html.Raw(model["Content"])" /></p>
        </div>
    </div>
</div>

