@charset "utf-8";
/* CSS Document */
body {
    margin: 0;
    background: #fff;
}

.nodata .tip {
    margin: 12px 0 25px 0;
    font-size: 18px;
    color: grey;
}

#carouserlImg {
    width: 960px;
    height: 260px;
    margin: 0 auto;
}

.nodata {
    height: 485px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-size: 18px;
    padding-top: 200px;
    background-size: 60px 110px;
    background-position: 48% 44%;
}

body * {
    font-family: "微软雅黑";
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-weight: inherit;
}

.fontCss {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    line-height: 50px;
    font-size: 23px;
    color: #525151;
    margin-left: 5px;
    font-family: 楷体;
}

.clearfix {
    clear: both;
}

h2 {
    font-size: 17px;
}

a {
    text-decoration: none;
}

    a:focus, a:active, a:hover {
        text-decoration: none;
    }

img {
    max-width: inherit;
    vertical-align: inherit;
}

body .container_box input {
    border: none;
    box-shadow: none;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 17px;
}

    body .container_box input:active, body .container_box input:hover, body .container_box input:focus {
        border: none;
        box-shadow: none;
        outline: none;
    }

input::-webkit-input-placeholder, #doc-ta-1::-webkit-input-placeholder {
    color: #ccc;
}

input:-moz-placeholder, #doc-ta-1:-moz-placeholder {
    color: #ccc;
}

input::-moz-placeholder, #doc-ta-1::-moz-placeholder {
    color: #ccc;
}

input:-ms-input-placeholder, #doc-ta-1:-ms-input-placeholder {
    color: #ccc;
}
/* stipulation_width --------------------------------------*/
.stipulation_width {
    width: 1200px;
    margin: auto;
}
/* header --------------------------------------*/
.header_box {
    border-bottom: 1px solid #e6e6e6;
    position: fixed;
    z-index: 100;
    width: 100%;
    background: #fff;
}

.header {
    height: 110px;
}

    .header .left {
        float: left;
    }

        .header .left .logo {
            height: 61px;
            margin-top: 24px;
        }

        .header .left span {
            width: 1px;
            height: 40px;
            background: #b3b3b3;
            display: inline-block;
            margin: 0 7px 9px 7px;
            position: relative;
            top: 36px;
        }

        .header .left .culture {
            height: 21px;
            margin-bottom: 17px;
        }

    .header .nav {
        float: right;
        margin: 0 5px 0 0;
    }

.nav a {
    font-size: 22px;
    color: #999;
    line-height: 20px;
    padding: 13px 18px;
    margin: 31px 0;
}

    .nav a:focus, .nav a:hover, .nav a:active {
        color: #fff;
        background: #e50011;
        border-radius: 6px;
        height: 22px;
        display: inline-block;
    }

.nav .current {
    color: #fff;
    background: #e50011;
    border-radius: 6px;
    height: 22px;
    display: inline-block;
}

.header .right {
    float: right;
    margin-top: 40px;
}

.head_portrait {
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 17px;
    padding: 0 14px;
    margin-top: 38px;
}

    .head_portrait img {
        margin: 10px 0px 0 0;
        float: left;
    }

    .head_portrait span {
        font-size: 16px;
        color: #b2b2b2;
        line-height: 32px;
        float: right;
    }

.header .head_portrait {
    margin-top: 39px;
}

.perch {
    height: 128px;
}
/* container_box --------------------------------------*/
.title_bar {
    border-bottom: 1px solid #e5e5e5;
    padding: 48px 0 15px 0;
}

    .title_bar img {
        float: left;
        margin-right: 5px;
    }

    .title_bar h1 {
        font-size: 22px;
        font-weight: inherit;
        float: left;
        line-height: 25px;
    }

.content p {
    font-size: 14px;
    color: #666;
}

body .container_box .common_button {
    color: #fff;
    background: #e50011;
    font-size: 18px;
    height: 44px;
    border-radius: 4px;
}

      body .container_box .common_button:hover, body .container_box .common_button:active {
        background: #8f000a;
    }

/* footer--------------------------------------*/
.footer {
    background: #e6e6e6;
    padding: 28px 0 22px 0;
}

    .footer p {
        text-align: center;
        color: #808080;
        font-size: 16px;
        line-height: 29px;
    }



/*@media only screen and (max-width:1300px){*/
.header {
    height: 100px;
}

.stipulation_width {
    width: 960px;
}

.header .left .logo {
    height: 50px;
    margin-top: 24px;
}

.header .left .culture {
    height: 18px;
    margin-bottom: 17px;
}

.nav a {
    font-size: 19px;
    padding: 11px 14px;
    margin: 28px 0;
}

.header .right {
    margin-top: 35px;
}

.header .head_portrait {
    margin-top: 33px;
}

.perch {
    height: 118px;
}

.title_bar img {
    width: 24px;
}

.title_bar h1 {
    font-size: 18px;
    font-weight: 600;
}

.title_bar {
    padding: 42px 0 14px 0;
}

.content p {
    font-size: 16px;
}

.footer {
    padding: 25px 0 22px 0;
}

 .nav a:focus, .nav a:hover, .nav a:active {
    color: #fff;
    background: #e50011;
    border-radius: 6px;
    height: 22px;
    display: inline-block;
}

.nav .current {
    color: #fff;
    background: #e50011;
    border-radius: 6px;
    height: 22px;
    display: inline-block;
}

.header .right {
    float: right;
    margin-top: 40px;
}

.head_portrait {
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 17px;
    padding: 0 14px;
    margin-top: 38px;
}

    .head_portrait img {
        margin: 10px 0 0 0;
        float: left;
    }

    .head_portrait span {
        font-size: 16px;
        color: #b2b2b2;
        line-height: 32px;
        float: right;
        margin-left: 6px;
    }

.header .head_portrait {
    margin-top: 39px;
}

.perch {
    height: 128px;
}
/* container_box --------------------------------------*/
.title_bar {
    border-bottom: 1px solid #e5e5e5;
    padding: 48px 0 15px 0;
}

    .title_bar img {
        float: left;
        margin-right: 5px;
    }

    .title_bar h1 {
        font-size: 22px;
        font-weight: inherit;
        float: left;
        line-height: 25px;
    }

.content p {
    font-size: 17px;
    color: #666;
}

body .container_box .common_button {
    color: #fff;
    background: #e50011;
    font-size: 18px;
    height: 44px;
    border-radius: 4px;
}

    body .container_box .common_button:hover, body .container_box .common_button:active {
        background: #8f000a;
    }

/* footer--------------------------------------*/
.footer {
    background: #e6e6e6;
    padding: 28px 0 22px 0;
}

    .footer p {
        text-align: center;
        color: #808080;
        font-size: 16px;
        line-height: 29px;
    }



/*@media only screen and (max-width:1300px){*/
.header {
    height: 100px;
}

.stipulation_width {
    width: 960px;
}

.header .left .logo {
    height: 50px;
    margin-top: 24px;
}

.header .left .culture {
    height: 18px;
    margin-bottom: 17px;
}

.nav a {
    font-size: 19px;
    padding: 11px 14px;
    margin: 28px 0;
}

.header .right {
    margin-top: 35px;
}

.header .head_portrait {
    margin-top: 33px;
}

.perch {
    height: 118px;
}

.title_bar img {
    width: 24px;
}

.title_bar h1 {
    font-size: 19px;
    font-weight: 600;
}

.title_bar {
    padding: 42px 0 14px 0;
}

.content p {
    font-size: 16px;
}

.footer {
    padding: 25px 0 22px 0;
}

.r167 .nav a:focus, .nav a:hover, .nav a:active {
    color: #fff;
    background: #e50011;
    border-radius: 6px;
    height: 22px;
    display: inline-block;
}

.nav .current {
    color: #fff;
    background: #e50011;
    border-radius: 6px;
    height: 22px;
    display: inline-block;
}

.header .right {
    float: right;
    margin-top: 40px;
}

.head_portrait {
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 17px;
    padding: 0 14px;
    margin-top: 38px;
}

    .head_portrait img {
        margin: 10px 0px 0 0;
        float: left;
    }

    .head_portrait span {
        font-size: 16px;
        color: #b2b2b2;
        line-height: 32px;
        float: right;
    }

.header .head_portrait {
    margin-top: 39px;
}

.perch {
    height: 128px;
}
/* container_box --------------------------------------*/
.title_bar {
    border-bottom: 1px solid #e5e5e5;
    padding: 48px 0 15px 0;
}

    .title_bar img {
        float: left;
        margin-right: 5px;
    }

    .title_bar h1 {
        font-size: 22px;
        font-weight: inherit;
        float: left;
        line-height: 25px;
    }

.content p {
    font-size: 17px;
    color: #666;
}

body .container_box .common_button {
    color: #fff;
    background: #e50011;
    font-size: 18px;
    height: 44px;
    border-radius: 4px;
}

      body .container_box .common_button:hover, body .container_box .common_button:active {
        background: #8f000a;
    }

/* footer--------------------------------------*/
.footer {
    background: #e6e6e6;
    padding: 28px 0 22px 0;
}

    .footer p {
        text-align: center;
        color: #808080;
        font-size: 16px;
        line-height: 29px;
    }



/*@media only screen and (max-width:1300px){*/
.header {
    height: 100px;
}

.stipulation_width {
    width: 960px;
}

.header .left .logo {
    height: 50px;
    margin-top: 24px;
}

.header .left .logo2 {
    height: 40px;
    margin: 24px 0 0 10px;
}


.header .left .culture {
    height: 18px;
    margin-bottom: 17px;
}

.nav a {
    font-size: 19px;
    padding: 11px 14px;
    margin: 28px 0;
}

.header .right {
    margin-top: 35px;
}

.header .head_portrait {
    margin-top: 33px;
}

.perch {
    height: 118px;
}

.title_bar img {
    width: 26px;
}

.title_bar h1 {
    font-size: 18px;
    font-weight: 600;
}

.title_bar {
    padding: 42px 0 14px 0;
}

.content p {
    font-size: 14px;
}

.footer {
    padding: 25px 0 22px 0;
}

/*}*/















