@charset "utf-8";
/* CSS Document */

/* banner --------------------------------------*/
.carousel-indicators {
    bottom: 10px;
    top: inherit;
    left: 50%;
    margin-left: -15px;
}

.header .left span {
    position: relative;
    top: 36px;
}

.carousel-indicators li {
    width: 8px;
    height: 8px;
    margin-left: 7px;
}

.carousel {
    margin-bottom: inherit;
}
/* container_box --------------------------------------*/
.news {
    width: 570px;
    float: left;
}

    .news .content {
        padding: 24px 0 0 0;
    }

        .news .content p {
            float: left;
            line-height: 38px;
        }

        .news .content span {
            color: #666;
            font-size: 16px;
            float: right;
            line-height: 38px;
        }

        .news .content a:hover > p, .news .content a:hover > span {
            color: #e50011;
        }

.introduce {
    float: right;
    width: 570px;
}

    .introduce .content {
        padding: 29px 0 0 0;
        font-size: 17px;
        line-height: 29px;
        color: #666;
        overflow: hidden;
    }

        .introduce .content a {
            font-size: 17px;
            color: #666;
            line-height: 29px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            overflow: hidden;
        }

    .introduce .title_bar a {
        float: right;
        font-size: 17px;
        color: #999;
        margin-top: 6px;
        cursor: pointer;
    }

        .introduce .title_bar a:hover {
            color: #e50011;
        }

.mien .left_row {
    float: left;
}

.mien .right_row {
    float: right;
}

.mien .content {
    padding: 40px 0 54px 0;
}

    .mien .content .row_box {
        width: 570px;
        margin-bottom: 34px;
    }

.mien .picture {
    float: left;
    height: 166px;
}


.mien .detail {
    float: left;
    width: 329px;
    height: 166px;
    margin-left: 20px;
    overflow: hidden;
    font-size: 17px;
    color: gray;
}

.detail h2 {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    padding: 15px 0 15px 0;
}

.detail p {
    line-height: 27px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

.detail span {
    line-height: 27px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}




/*@media only screen and (max-width:1300px) {*/

.banner img {
    width: 960px;
}

.news {
    width: 590px;
}

    .news .content span {
        font-size: 14px;
        line-height: 37px;
    }

    .news .content p {
        line-height: 37px;
    }

    .news .content {
        padding: 17px 0 0 0;
    }

.introduce {
    width: 960px;
}

    .introduce .content a {
        font-size: 16px;
        line-height: 28px;
    }

    .introduce .content {
        padding: 20px 0 0 0;
        font-size: 13px;
        line-height: 28px;
    }

    .introduce .title_bar a {
        font-size: 13px;
    }

.mien .content .row_box {
    width: 460px;
}


.detail h2 {
    font-size: 17px;
    padding: 10px 0 5px 0;
    margin-top: -18px;
}

.mien .detail {
    width: 220px;
    margin-left: 16px;
}

.detail p {
    line-height: 26px;
    -webkit-line-clamp: 3;
}

.introduce .title_bar a
.mien .picture {
    height: 114px;
}

.mien .content .row_box {
    margin-bottom: 22px;
}

.mien .content {
    padding: 30px 0 0 0;
}
/*}*/

.loginpanel {
    float: left;
    margin-left: 70px;
    width: 300px;
}

.stamp .row_box {
    border-bottom: 1px solid #e5e5e5;
}

    .stamp .row_box h2 {
        font-size: 14px;
        font-weight: 600;
        display: table-cell;
        line-height: 44px;
        width: 85px;
    }

    .stamp .row_box .input_box {
        min-width: 100%;
        display: table-cell;
    }

        .stamp .row_box .input_box input {
            display: block;
            color: #999;
            letter-spacing: 3px;
            border: none;
            box-shadow: none;
            margin: 0;
            padding: 0;
            font-size: 14px;
        }

.stamp {
    padding-top: 10px;
}

    .stamp span {
        font-size: 12px;
        color: #999;
        line-height: 27px;
        margin: 10px 10px -2px 0;
        display: block;
        letter-spacing: 1px;
        text-align: right;
    }

        .stamp span a {
            color: #999;
        }

    .stamp .common_button {
        background: #e50011;
        font-size: 17px;
        color: #fff;
        line-height: 44px;
        width: 100%;
        border-radius: 4px;
        margin: 12px 0 15px 0;
        border: none
    }

    .stamp .logintext {
        height: 120px;
        line-height: 120px;
        text-align: center;
        font-size: 22px;
        color: #404040;
    }


    .stamp .send {
        position: absolute;
        right: 12px;
        top: 8px;
        z-index: 120;
        width: 78px;
        height: 28px;
        background: #e50011;
        border-radius: 3px;
        font-size: 12px;
        color: #fff;
    }

/* firstlogin --------------------------------------*/
.firstlogin .content {
    padding: 5px 0 0 0;
}

.firstlogin h2 {
    font-size: 14px;
    font-weight: inherit;
    width: 85px;
    display: table-cell;
    line-height: 44px;
    width: 85px;
    font-weight: 600;
}

.firstlogin .input_box {
    min-width: 100%;
    display: table-cell;
}

    .firstlogin .input_box input {
        display: block;
        color: #999;
    }

.firstlogin .row_box {
    background-image: -webkit-linear-gradient(top, #e5e5e5, #e5e5e5 50%, transparent 50%);
    background-image: linear-gradient(180deg, #e5e5e5, #e5e5e5 50%, transparent 50%);
    background-size: 120% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
}

.firstlogin .determine {
    padding-right: 12px;
}

.firstlogin .send {
    position: absolute;
    right: 12px;
    top: 8px;
    z-index: 120;
    width: 78px;
    height: 28px;
    background: #e50011;
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
}

    .firstlogin .send:focus, .firstlogin .send:active {
        background: #a3000b;
    }

.firstlogin span {
    font-size: 12px;
    color: #999;
    line-height: 27px;
    margin: 10px 10px -2px 0;
    display: block;
    letter-spacing: 1px;
    text-align: right;
}

    .firstlogin span a {
        color: #999;
    }

.firstlogin .row_box .input_box input {
    display: block;
    color: #999;
    letter-spacing: 3px;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.firstlogin {
    padding-top: 10px;
}

    .firstlogin .common_button {
        background: #e50011;
        font-size: 17px;
        color: #fff;
        line-height: 44px;
        width: 100%;
        border-radius: 4px;
        margin: 12px 0 15px 0;
        border: none
    }

.setpwd img {
    width: 26px;
    margin: 5px 10px 5px 0;
    float: left;
}

.setpwd h1 {
    font-size: 18px;
    font-weight: 600;
    float: left;
}

.setpwd {
    border-bottom: 1px solid #e5e5e5;
    height: 40px;
}
