.topclass {
    margin: 23px auto 40px auto;
    border-bottom: 1px solid rgb(213, 213, 213);
    width:960px;
}
.topclass p {
    width: 500px;
    margin-bottom: 15px;
}
.allProduct img {
    position: relative;
    top: -2px;
}

.ImgBody {
    margin: 0 auto;
    width:960px;
    display:table;
}
.ImgDiv {
    width: 460px;
    display: inline-block;
    margin-bottom:40px;
}
.ImgDiv2 {
    width: 460px;
    display: inline-block;
    float:right;
}
.newsTitle {
    font-size: 18px;
    margin-bottom: 25px;
}
.bottom_border {
    height: 1px;
    margin-bottom:40px;
    background: rgb(213, 213, 213);
}

.right_img{
    float:right;
}

.product_img1 {
    width: 208px;
    height: 146px;
    margin-bottom: 30px;
}
.product_img2 {
    width: 232px;
    height: 146px;
    margin-bottom: 30px;
    float:right;
}
.header .left span {
    position: relative;
    top: 36px;
}
.allProduct {
    font-size: 22px;
    font-family: 'Microsoft YaHei';
    color: rgb(67, 67, 67);
}

.imgContent {
    width: 210px;
    height: 130px;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 6px;
}
.jcp_imgDiv {
    width: 220px;
    float: left;
    margin-right: 50px;
}

.jcp_img {
    width: 220px;
    height: 154px;
    margin-bottom: 20px;
}

ul li {
    display: inline-block;
    list-style-type: none;
}

.liContent {
    width: 223px;
    margin-right: 10px;
    margin-bottom: 20px;
}
ul {
    margin-top: 20px;
}
.content_table {
    margin-bottom:20px;
    width:960px;
}
.content_table table,.content_table td {
    border: 1px solid #999;
}
