@page "{cid:int}/{Id:int}.html"
@inject ICMSService _cmsService
@{
    ViewData["Tag"] = 0;
    var siteBasic = _cmsService.GetBasic();
    var mngSetting = _cmsService.GetSetting();
    ViewBag.SiteBasic = siteBasic;
    ViewBag.SiteSetting = mngSetting;
    int CId= Convert.ToInt32(RouteData.Values["CId"]);
    int Id = Convert.ToInt32(RouteData.Values["Id"]);
    var model= _cmsService.IcontentColumnDataService.GetContentColumnData(Id,CId);
    ViewData["Title"] = model["Title"];
    string content = Util.Extensions.ToHtml(model["Content"].ToString());
    ViewData["Desc"] = content.Length > 30?  content.Substring(0, 30): content;

}
@section head
    {
    <link rel="stylesheet" type="text/css" href="/Content/css/news_details.css">
}
<div class="banner_share">
    <img src="/Content/images/news_center.jpg" />
</div>

<div class="content padding_box">
    <h1>@Html.Raw(model["Title"])</h1>
    <small>发布时间：@Html.Raw(Util.Extensions.GetDateTimeFromUnixTime(Convert.ToInt64(model["Createtime"])).ToString("yyyy年MM月dd日"))</small>
    @if (model["Image"].SafeString() != string.Empty)
    {
        foreach (var imgItem in model["Image"].ToString().Split(','))
        {
            <div style="max-width: 100%; margin: 10px auto;">
                <img src="@mngSetting.Domain_PC.Substring(0, mngSetting.Domain_PC.Length - 1)@Html.Raw(imgItem)" />
            </div>
        }
    }
    <p>@Html.Raw(model["Content"].ToString().Replace("<img src=\"/../", "<img src=\"" + mngSetting.Domain_PC).Replace("/UploadFile/OldNews/",  mngSetting.Domain_PC + "UploadFile/OldNews/"))</p>
   
</div>