@page "{tid:int}-{p:int}.html"
@inject ICMSService _cmsService;
@inject IContentGroupService _contentService
@{
    ViewData["Title"] = "闽源报纸";
    ViewData["Desc"] = "闽源报纸";
}
@section head{

}
@functions{
    private int pageSize = 6;

    public int NewsTypeId { get; set; }

    public int PageIndex { get; set; }

    public int PageCount { get; set; }

    public List<Dictionary<string, object>> dict { get; set; }

    public List<DataLibrary.SiteModelColumn> NewsType { get; set; }

    public new int Page { get; set; }

    public void OnGet(int? tid, int? p)
    {
        this.Page = p ?? 1;
        var AllNews = _cmsService.IcontentColumnDataService.GetContentColumnDataList("闽源报纸", 1, 1000);
        this.PageCount = AllNews.Count;
        int Cid = _contentService.GetSiteCategoryByName("闽源报纸").Id;
    }
}


<div id="main" class="part">

    <ul id="menu" class="fl">
        <li class="on">
            <a href="/NewsPaper/0-1.html">
                <i class="icon-chevron-right"></i>闽源报
            </a>
        </li>
    </ul>

    <div id="list" class="fr">
        <ul class="imglist">
            @{
                var Paper = _cmsService.IcontentColumnDataService.GetContentColumnDataList("闽源报纸", Page, pageSize);
                if (Paper != null)
                {
                    for (var i = 0; i < Paper.Count; i++)
                    {
                        <li>
                            <a href="@Html.Raw(Paper[i]["Image"])" target="_blank">
                                <img src="@Html.Raw(Paper[i]["Image"])" />@Html.Raw(Paper[i]["Title"])
                            </a>
                        </li>
                    }
                }
            }
        </ul>
        <div class="clearit"></div>
        <div id="Pagination">
            @await Component.InvokeAsync("PageList", new { PageSize = this.pageSize, PageIndex = this.Page, PageCount = this.PageCount, PageUrl = Model.NewsTypeId + "-{0}.html", PageText = "{0}", ShowCount = 6, ShowAll = false })
        </div>
    </div>
</div>