@page
@model WarrantyManage.Pages.Manage.Authority.UserPwdModel
@inject DataLibrary.DataContext _db
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>修改密码</title>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{ await Html.RenderPartialAsync("_ValidationCssPartial");}

    <script type="text/javascript">

        $(document).ready(function (e) {

            $("#formAdd").validationEngine({
                validationEventTriggers: "blur",
                inlineValidation: true,
                success: false,
            });


        });
    </script>
    <style>
        .mainleft {
            padding-right: 0;
        }

        .tipinfo {
            margin-left: 20px;
        }



        select {
            opacity: 1;
            border-top: solid 1px #a7b5bc;
            border-left: solid 1px #a7b5bc;
            border-right: solid 1px #ced9df;
            border-bottom: solid 1px #ced9df;
            width: 152px;
            height: 34px;
            line-height: 30px;
        }
    </style>
</head>

<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li>系统管理</li>
            <li>个人信息修改</li>
            <li>密码修改</li>
        </ul>
    </div>

    <div class="formbody">
        <br />
        <div id="usual1" class="usual">
            <form method="post" id="formAdd">
                <ul class="forminfo">
                    <li>
                        <label>原密码<b>*</b></label>
                        <input name="OldPassword"  id="OldPassword" type="password" class="validate[required,minSize[6],maxSize[16]] scinput" value="" maxlength="16" />
                    </li>
                    <li>
                        <label>新密码<b>*</b></label>
                        <input name="NewPassword" id="NewPassword" type="password" class="validate[required,minSize[6],maxSize[16]] scinput" value="" maxlength="16" />
                    </li>
                    <li>
                        <label>确认密码<b>*</b></label>
                        <input name="PasswordEnsure" id="PasswordEnsure" type="password" onchange="checkPwd(this)" class="validate[required,minSize[6],maxSize[16]],equals[NewPassword]] scinput" value="" maxlength="16" />
                    </li>  
                    <li>
                        <label>&nbsp;</label><input id="btnAdd" onclick="return checkValid(this)" name="save" type="submit" asp-page-handler="First" class="sbbtn" value="保存" />
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        var Msg =@Html.Raw("'"+Model.Msg+"'");
        if (Msg != "") {
            layer.msg(Msg);
        }

    </script>
</body>
</html>
