<div class="loginpanel">
    <div class="title_bar">
        <img src="~/images/introduce.png" />
        <h1>用户登录</h1>
        <div class="clearfix"></div>
    </div>
    <div class="firstlogin">
        <div class="row_box">
            <h2>手机号</h2>
            <div class="input_box"><input type="text" placeholder="请输入手机号码" id="UserName" name="UserName"></div>
            <input class="send" type="button" id="sendcode" value="发送验证码">
        </div>
        <div class="row_box">
            <h2>短信验证码</h2>
            <div class="input_box"><input type="text" id="Code" name="Code" placeholder="请输入验证码"></div>
        </div>
        <span>
            <a href="/">用户名登录</a>
        </span>
        <input type="hidden" name="SystemMemberType" id="SystemMemberType" value="@Html.Raw((int)DataLibrary.EnumList.SystemMemberType.Manage)">
        <div class="determine">
            <input class="common_button" id="btnLogin_ByPhone" type="button" value="确定">
        </div>
    </div>
</div>