@charset "utf-8";
/* CSS Document */

/* banner --------------------------------------*/
.banner img {
    width: 100%;
    height: 185px;
}

.carousel {
    margin-bottom: inherit;
}

.carousel-indicators {
    top: inherit;
    bottom: 5px;
    left: 50%;
    margin-left: -9px;
}

.banner .carousel-indicators li {
    width: 6px;
    height: 6px;
    background: #fff;
    opacity: 0.6;
    border-radius: 3px;
}

.banner .carousel-indicators .active {
    opacity: 1;
    border: none;
}
/* container--------------------------------------*/
.container_box {
}

.news .content {
    padding: 0 12px 9px 0;
}

    .news .content p {
        text-align: -webkit-left;
        float: left;
        line-height: 29px;
        color: #333;
        width: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .news .content span {
        float: right;
        line-height: 29px;
        color: #999;
    }

.news a:hover > p, .news a:hover > span {
    color: #e50011;
}

.introduce .content {
    padding: 2px 12px 14px 0;
}

    .introduce .content img {
        width: 15px;
        left: 50%;
        position: relative;
        margin-left: -8px;
        margin-bottom: -5px;
    }

    /*.introduce .content p {
        height: 140px;
        overflow: hidden;
        white-space: pre-wrap;
        text-overflow: ellipsis;
    }*/
.introducep{
    height: 83px;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}
.contentp {
    height: 140px;
    margin-bottom: 8px;
}

.mien h2 {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 6px;
    color: #333;
    margin-top: 6px;
}

.mien p {
    font-size: 13px;
    color: #999;
}

.mien .picture {
    width: 113px;
    display: table-cell;
}

    .mien .picture img {
        max-height:75px;
        width: 113px;
        padding: 17px 0;
    }

.mien .detail {
    min-width: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 0 12px;
}

.detail p {
    line-height: 17px;
    height: 68px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
    font-size: 12px;
}

.detail span {
    line-height: 17px;
    height: 68px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}

.mien .row_box {
    background-image: -webkit-linear-gradient(top, #e5e5e5, #e5e5e5 50%, transparent 50%);
    background-image: linear-gradient(180deg, #e5e5e5, #e5e5e5 50%, transparent 50%);
    background-size: 120% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.mien a:last-child > .row_box {
    background-image: none;
}

.mien .content {
    padding: 0;
    margin-left: -12px;
}

.mien .row_box {
    padding-left: 12px;
}

.mien a {
    display: block;
}

    .mien a:hover {
        background: #f5f5f5;
        text-decoration: none;
    }
#Wfriend {
    background: #e6e6e6;
    border-bottom: double 0.3px #cac3c3;
}

#FriendShip {
    width: 100%;
    margin-bottom: 10px;
    line-height: 25px;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
}

    #FriendShip a {
        text-decoration: none;
        color: gray;
    }

    #FriendShip li {
        display: inline;
        list-style: none
    }
    #FriendShip ul {
        padding-top:7px;
    }
#Wfriend a {
    color: gray;
    margin: 5px;
}
