@page
@inject ICMSService _cmsService
@{
    ViewData["Tag"] = 1;
    ViewData["Title"] = "产品";
    ViewData["Desc"] = "产品";
    var siteBasic = _cmsService.GetBasic();
    ViewBag.SiteBasic = siteBasic;
    var mngSetting = _cmsService.GetSetting();
    ViewBag.SiteSetting = mngSetting;
}
@section head{
    <link rel="stylesheet" type="text/css" href="/Content/css/product.css">
}
<div class="container-fluid matter">
    @{
        var Product = _cmsService.IcontentColumnDataService.GetContentColumnDataList("鸿泰产品", 1, 4);
        if (Product != null)
        {
            foreach (var P in Product)
            {
                <div>
                    <div class="row product_column">
                        @if (P["Image"].SafeString() != string.Empty)
                        {
                            foreach (var imgItem in P["Image"].ToString().Split(','))
                            {
                                <div class="col-xs-6">
                                    <img class="ImgClass" alt="@Html.Raw(P["Description"])" src="@mngSetting.Domain_PC.Substring(0, mngSetting.Domain_PC.Length - 1)@imgItem" style="height:100px" />
                                </div>
                            }
                        }
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>@Html.Raw(P["Title"])@Html.Raw(P["Description"])</h3>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>

