@page "{cid:int}/{Id:int}.html"
@inject ICMSService _cmsService
@{

    ViewData["Tag"] = 0;
    var siteBasic = _cmsService.GetBasic();
    var mngSetting = _cmsService.GetSetting();
    ViewBag.SiteBasic = siteBasic;
    ViewBag.SiteSetting = mngSetting;
    int CId = Convert.ToInt32(RouteData.Values["CId"]);
    int Id = Convert.ToInt32(RouteData.Values["Id"]);
    var model = _cmsService.IcontentColumnDataService.GetContentColumnData(Id, CId);
    ViewData["Title"] = model["Title"];
    ViewData["Desc"] = model["Title"];
}

<div class="stipulation_width container_box list_box">
    <div class="article">
        <div class="newsContent">@Html.Raw(model["Content"].ToString().Replace("<img src=\"/../", "<img src=\"" + mngSetting.Domain_PC))</div>
    </div>
</div>

@section head{
    <link rel="stylesheet" type="text/css" href="/Content/css/fengcai.css">
}