@page
@inject ICMSService _cmsServices;
@{
    ViewData["Tag"] = 2;
    ViewData["Title"] = "公司荣誉";
    ViewData["Desc"] = "公司荣誉";
    var mngSetting = _cmsServices.GetSetting();
}
@section head{
    <link href="/Content/css/honor.css" rel="stylesheet" />
}

<!--------------------------面包屑------------------------------>
<div class="location_box">
    <div class="location">
        <span>&nbsp;公司荣誉</span>
        <span>您当前的位置： 首页 > </span>
        <div class="clearfix"></div>
    </div>
</div>
<!--------------------------证书展示------------------------------>

@{
    var Honor = _cmsServices.IcontentColumnDataService.GetContentColumnDataList("鸿泰荣誉", 1, 100);
    if (Honor != null)
    {
        <div class="honor_box">
            <div class="honor1">
                @for (var i = 0; i < Honor.Count; i++)
                {
                    <p style="text-align:center;font-size:35px;margin-bottom:20px">@Html.Raw(Honor[i]["Title"])</p>
                    if (i % 4 == 0)
                    {
                        @Html.Raw("<div class=\"honor_row\">")
                    }
                    if (Honor[i]["Image"].SafeString() != string.Empty)
                    {
                        foreach (var Item in Honor[i]["Image"].ToString().Split(","))
                        {
                            <img src="@mngSetting.Domain_PC.Substring(0, mngSetting.Domain_PC.Length - 1)@Item" style="max-width:210px;max-height:370px" />
                        }
                    }

                    if (i % 4 == 1 && i != 0 || (i + 1) == Honor.Count)
                    {
                        @Html.Raw("<div class=\"clearfix\"></div></div>")
                    }
                }
            </div>
        </div>
    }
}
