@charset "utf-8";
/* CSS Document */
.banner_share .padding_box{
	padding:16px 12px 17px 12px;
}


.content img{
	display:block;
	width:100%;
	padding:10px 0;
}
.content .idea{
	padding-bottom:18px;
}

.padding_box p{
	text-indent:2em;
	line-height:20px;
}
.content{
	padding-bottom:30px;
}