@charset "utf-8";
/* CSS Document */
.portion {
    background: #fff;
    padding-left: 12px;
    margin-top: 10px;
}
.title_bar {
    background-image: -webkit-linear-gradient(top, #e5e5e5, #e5e5e5 50%, transparent 50%);
    background-image: linear-gradient(180deg, #e5e5e5, #e5e5e5 50%, transparent 50%);
    background-size: 120% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
}
.error { 
    margin-top: 95px;
    margin-bottom:200px;
    padding-top: 65px;
    text-align: center;
}

.fontCss {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    line-height: 33px;
    width: 40%;
    color: rgb(110, 110, 110);
    font-family: 微软雅黑, Arial, Tahoma, 宋体;
    font-size: 14px;
    letter-spacing: 2.5px;
}
.line {
    background: #b3b3b3;
    width: 1px;
    height: 25px;
    display: inline-block;
    margin: 0 1px 3px 1px;
}
    .error h2 {
        font-size: 20px;
        /* padding-left: 154px; */
        margin-top: 50px;
        color: #f44c4c78;
    }

    .error img { /* padding-left:154px; */
        width: 96%;
        margin: 0 2%;
        display: block;
    }
    .title_bar img {
        width: 17px;
        margin-bottom: -3px;
        margin-right: 4px;
    }

    .title_bar h1 {
        font-size: 15px;
        display: inline-block;
    }
.content {
    padding-right: 12px;
    margin-top: 5px;
}

    .content p p {
        line-height: 20px;
        font-size: 14px;
        color: grey;
    }

    .content p span {
        line-height: 20px;
        font-size: 14px !important;
        color: grey;
    }

    .content span {
        line-height: 20px;
        font-size: 14px;
        color: grey;
    }
    /* common_button --------------------------------------*/
    .content .common_button {
        background: #e50011;
        font-size: 17px;
        color: #fff;
        line-height: 44px;
        width: 100%;
        border-radius: 4px;
        margin: 12px 0 15px 0;
        border: none;
    }

        .content .common_button:focus, .content .common_button:active {
            background: #a3000b;
        }
body{
	margin:0;
	overflow-x: hidden;
}
input{
	border:none;
	outline:none;
}
body *{
	font-family:"微软雅黑";
	margin:0;
	padding:0;
	color:#666;
	font-size:12px;
}
body h1,body h2{
	color:#333;
	font-size:14px;
	font-weight:600;
	font-family: fantasy;
}
.clearfix{
	clear:both;
}
.padding_box{
	padding:0 12px;
}

/*内容溢出省略号，默认三行后省略号*/
.text-of{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:4;
	-webkit-box-orient: vertical;
}

a{
	text-decoration:none;
}
a:focus,a:active,a:hover{
	text-decoration:none;
}
img {
	max-width:inherit;
	vertical-align:inherit;
}
body .container_box input{
	border:none;
	box-shadow:none;
	color:#333;
	margin:0;
	padding:0;
}
body .container_box input:active,body .container_box input:hover,body .container_box input:focus{
	border:none;
	box-shadow:none;
	outline:none;
}
input::-webkit-input-placeholder, #doc-ta-1::-webkit-input-placeholder {
	color: #ccc;
}
input:-moz-placeholder, #doc-ta-1:-moz-placeholder {
	color: #ccc;
}
input::-moz-placeholder, #doc-ta-1::-moz-placeholder {
	color: #ccc;
}
input:-ms-input-placeholder, #doc-ta-1:-ms-input-placeholder {
	color: #ccc;
}
/* header --------------------------------------*/
.left{
	float:left;
}
.header{
	width: 100%;
	height: 75px;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
.logo {
    height: 50px;
    margin-top: 12px;
    padding-left: 12px;
}
.left span{
	background:#b3b3b3;
	width:1px;
	height:20px;
	display:inline-block;
	margin:0 4px 5px 5px;
}
.culture{
	width:108px;
	margin-bottom: 9px;
}

.right{
	float:right;
	padding-right:12px;
	padding-top:15px;
}
.right .before{
	width:24px;
	margin-top:16px;
}
.right .after{
	width:18px;
	margin-bottom:-4px;
}
.right span{
	line-height:48px;
	font-size:14px;
	color:#888;
}
/* nav --------------------------------------*/
.nav{
	background: #f2f2f2;
	height: 50px;
	width: 100%;
	position: fixed;
	top: 75px;
	left: 0;
	z-index: 100;
}
.nav a{
	color:#1a1a1a;
	font-size:14px;

}
.nav li{
	line-height:50px;
	width: calc((100% - 3px)/4);
	float:left;
	text-align: center;
	list-style-type:none;
	}
.nav ul a.last{
	border-right:none;
	}
.nav ul li a{
	float:left;
	width:98%;
	font-weight: 600;
    font-family: fantasy;
}
.nav ul li img{
	height:24px;
	margin-top: 13px;
    display: block;
}
 .current {
	color: #a1010d;
    border-bottom: 3px solid #a1010d;
    line-height: 44px;
    padding-top: 3px;
}

.perch{
	height:125px;
}
/* banner_share--------------------------------------*/
.banner_share{
	width:100%;
}
.banner_share img{
	width:100%;
	display: block;
}
/* footer--------------------------------------*/
.footer{
	background:#e6e6e6;
	padding:9px 0;
}
.footer *{
	color:#333;
	line-height:28px;
	
}
.footer_nav{
	margin: 0 auto;
    display: table;
}
.footer_nav a{
	float: left;
}
.footer_nav span{
	width:1px;
	height:11px;
	background:#333;
	float: left;
	margin: 10px;
}
.footer p{
	text-align:center;
}
.support{
	text-align: center;
}
.support span{
	margin: 0 12px;
}
