@charset "utf-8";
/* CSS Document */

.login_content .send {
    position: absolute;
    right: 12px;
    top: 8px;
    z-index: 120;
    width: 84px;
    height: 28px;
    background:none;
	border:1px solid #a1010d;
    border-radius: 3px;
    color: #a1010d;
}
.login_content .common_button{
	margin-top:53px;
}