@charset "utf-8";
/* CSS Document */

/* search_box----------------------------------------------*/
.title_box{
	padding:18px 0 5px 0;
	background-image: -webkit-linear-gradient(top, #ccc, #ccc 50%, transparent 50%);
    background-image: linear-gradient(180deg, #ccc, #ccc 50%, transparent 50%);
    background-size: 120% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
}
.title_box h1{
	font-family:inherit;
	display: inline-block;
}
.layui-layer-content {
    /*color: white;*/
}
.search_box span{
	color:#4c4c4c;
	padding: 11px 0 12px 0;
    display: block;
}

.search_box h2{
	font-size:12px;
	font-weight:inherit;
	width:82px;
	display:table-cell;
	line-height:44px;
}
.search_box .input_box{
	min-width:100%;
	display:table-cell;
}
.search_box .input_box input{
	display:block;
	color:#999;
}
.search_box .row_box{
	background-image: -webkit-linear-gradient(top, #ccc, #ccc 50%, transparent 50%);
    background-image: linear-gradient(180deg, #ccc, #ccc 50%, transparent 50%);
	background-size: 120% 1px;
	background-repeat: no-repeat;
	background-position: bottom;
	position:relative;
}
.content .common_button {
    background: #a1010d;
    font-size: 16px;
    color: #fff;
    line-height: 44px;
    width: 100%;
    border-radius: 3px;
    margin: 22px 0 12px 0;
}
/* contact----------------------------------------------*/
.contact{
	margin-bottom:40px;
}
.contact .title_box{
	margin-bottom:15px;
}
.contact_row{
	padding-bottom:15px;
}
.contact_row img{
	float:left;
	width:29px;
	margin-right:7px;
}
.contact p{
	float:left;
	line-height:29px;
}

.map_box img{
	width:100%;
}




