@page
@model WarrantyManage.Pages.Manage.Settings.AddWorkShopModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>添加车间</title>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{ await Html.RenderPartialAsync("_ValidationCssPartial");}
    <script type="text/javascript">
        jQuery(document).ready(function () {

            layui.use('laydate', function () {

            });


            $("#form2").validationEngine({
                validationEventTriggers: "blur",
                inlineValidation: true,
                success: false,
            });

            $("#form2").find("a").each(function () {
                if ($(this).html() == '@ViewData["ReportType"]')
                {
                    $(this).css("font-weight","600");
                }
            });

        });
    </script>
    <style>
        .inputspan {
            width: 70%;
            height: auto;
            display: inline-block;
            word-wrap: break-word;
            white-space: normal;
        }
        select {
            opacity: 1;
            filter: alpha(opacity=100);
            border: 1px solid #9c9c9c;
            width: 50px;
            height: 32px;
            line-height: 32px;
        }

        #form1 select {
            border: solid 1px #a7b5bc;
            width: 130px;
        }

        .tipinfo span {
            width: 70%;
            height: auto;
            float: left;
        }

        .mainleft {
            padding-right: 0;
        }

        .tipinfo {
            margin-left: 20px;
        }

        /*.forminfo li label {
            width: 50px;
        }*/

        body {
            min-width: inherit;
        }

        .tablelist td {
            text-align: center;
            text-indent: 0px;
        }

        .addclass {
            cursor: pointer;
        }

        .deleclass {
            cursor: pointer;
            margin-left: 10px;
        }

        .checklabel {
            float: none;
            display: inline-block;
        }
    </style>
</head>


<body>


    <div id="addbox">

        <form id="form2" method="post">
            @*<div class="tiptop"><span id="addtips">添加车间</span></div>*@
            <div class="tipinfo">
                <input type="hidden" value="add" id="hiddType" />
                <input type="hidden" value="" id="hiddId" name="hiddId" />
                <ul class="forminfo">

                    <li style="line-height: 34px;"><label style="width:70px;">车间名称<b>*</b></label> <input name="WorkShopName" id="WorkShopName" type="text" class="validate[required] scinput" value="" style="width:200px" /></li>
                    <li>
                    </li>
                    <li style="line-height: 34px;"><label style="width:70px;">车间代码<b>*</b></label> <input name="Code" id="Code" type="text" class="validate[required] scinput validate[custom[WorkShopCode]]" value="" maxlength="1" style="width:200px" /><b>一个大写字母</b></li>
                    <li>
                    </li>
                    <li style="line-height: 34px;" class="rukuli">
                        <label style="width:70px;">入库操作员</label>
                        <span class="inputspan">
                            <input placeholder="姓名" name="RukuName" type="text" value="" class="validate[required] scinput " style="width:100px" />
                            <input placeholder="手机号" name="rukuTel" type="text" class="validate[required] scinput validate[custom[MobilePhone]]" maxlength="11" value="" style="width:100px" />
                            <a onclick="addworkin(this)" class="addclass">添加</a><a onclick="deleteRow(this)" class="deleclass">删除</a>
                        </span>
                        <br />
                    </li>
                    <li>
                    </li>
                    <li style="line-height: 34px;" class="chukuli">
                        <label style="width:70px;">出库操作员</label>
                        <span class="inputspan">
                            <input placeholder="姓名" name="chukuName" type="text" value="" class="validate[required] scinput " style="width:100px" />
                            <input placeholder="手机号" name="chukuTel" type="text" class="validate[required] scinput validate[custom[MobilePhone]] " maxlength="11" value="" style="width:100px" />
                            <a onclick="addworkout(this)" class="addclass">添加</a><a onclick="deleteRow(this)" class="deleclass">删除</a>
                        </span>
                        <br />
                    </li>
                    <li>
                    </li>
                    <li style="line-height: 34px;" class="luruli">
                        <label style="width:70px;">质量录入员</label>
                        <span class="inputspan">
                            <input placeholder="姓名" name="luruName" type="text" value="" class="validate[required] scinput" style="width:100px" />
                            <input placeholder="手机号" name="ruluTel" type="text" class="validate[required] scinput validate[custom[MobilePhone]] " maxlength="11" value="" style="width:100px" />
                            @*<label style=" float: none;display: inline-block;"><input type="radio" name="wuliorhuaxue" value="1" checked="checked" />物理</label><label style=" float: none;display: inline-block;"><input type="radio" name="wuliorhuaxue" value="2" />化学</label><label style=" float: none;display: inline-block;"><input type="radio" name="wuliorhuaxue" value="3" />物理和化学</label>*@
                            <select name="wuliorhuaxue" class="validate[required] scinput" style="width:70px;">
                                <option value="1" selected="selected">物理</option>
                                <option value="2">化学</option> 
                                <option value="3">全部</option>
                            </select>
                            <a onclick="addquanlityin(this)" class="addclass">添加</a><a onclick="deleteRow(this)" class="deleclass">删除</a>
                        </span>
                        <br />
                    </li>
                    <li>
                    </li>
                    @*<li style="line-height: 34px; display:none;" class="luruli">
                        <label style="width:70px;">炉号工</label>
                        <span class="inputspan">
                            <input placeholder="姓名" name="luhaoName" type="text" value="" class="validate[required] scinput" style="width:100px" />
                            <input placeholder="手机号" name="luhaoTel" type="text" class="validate[required] scinput validate[custom[MobilePhone]] " maxlength="11" value="" style="width:100px" />
                            <a onclick="addluhao(this)" class="addclass">添加</a><a onclick="deleteRow(this)" class="deleclass">删除</a>
                        </span>
                        <br />
                    </li>*@
                    <li>
                    </li>
                </ul>
            </div>

            <div class="tipbtn">
                <input name="" id="btnAdd" onclick="submitData(this);" type="button" class="sure" value="确定" />&nbsp;

            </div>
        </form>
    </div>
    <script type="text/javascript">
        var addformhtml = $("#addbox").html();
        function submitData(obj) {
            if (checkValid(obj)) {
                //if (!checkLichecked()) {
                //    layer.msg('您还有质量录入员没有设置！');
                //    setTimeout(function () { layer.closeAll(); }, 1000);
                //    return false;
                //}
                //else {
                    $.ajax({
                        type: "POST",
                        url: '/WorkShop/Add',
                        data: $("#form2").serialize(),
                        success: function (re) {
                            if (re.state) {
                                layer.msg('新增成功', { icon: 1 });
                                setTimeout(function () { parent.window.location.reload(); }, 1000);
                            } else {
                                layer.msg(re.content, { icon: 2 });
                            }
                            setTimeout(function () {
                                layer.closeAll();
                            }, 2000);


                        }, error: function (err) {
                            if (err.status == 401) {
                                layer.msg("暂无权限", { icon: 2 });
                            } else {
                                layer.msg("操作失败，系统出现错误！", { icon: 2 });
                            }
                            setTimeout(function () {
                                layer.closeAll();
                            }, 2000);
                        }
                    });
                //}
            }
        }

        function checkLichecked(){ 
            $("ul>li").each(function (index) {
                if ($("input[type='checkbox'] :checked").length < 1 && $("input[type='checkbox']") != null)
                {
                    return false;
                }

            });
            return true;
        }

        function addworkin(obj) {

            var html = '<span class="inputspan" style="margin-left:70px;"><input placeholder="姓名" name="RukuName"  type="text"  value="" class="validate[required] scinput" style="width:100px ;" />  <input  placeholder="手机号" name="rukuTel"  type="text" class="validate[required] scinput validate[custom[MobilePhone]]" maxlength="11" value="" style="width:100px" /> <a onclick="addworkin(this)" class="addclass">添加</a> <a onclick="deleteRow(this)" class="deleclass">删除</a></span>';
            $(obj).parent().parent().append(html);
        }
        function addworkout(obj) {
            var html = '<span class="inputspan" style="margin-left:70px;"><input placeholder="姓名" name="chukuName"  type="text" value="" class="validate[required] scinput" style="width:100px;" />  <input placeholder="手机号" name="chukuTel"  type="text" class="validate[required] scinput validate[custom[MobilePhone]]" maxlength="11" value="" style="width:100px" /><a onclick="addworkout(this)" class="addclass">添加</a> <a onclick="deleteRow(this)" class="deleclass">删除</a></span>';
            $(obj).parent().parent().append(html);

        }
        function addquanlityin(obj) {
            var html = '<span class="inputspan" style="margin-left:70px;"><input placeholder="姓名" name="luruName"  type="text"  value="" class="validate[required] scinput " style="width:100px;" />  <input placeholder="手机号" name="ruluTel" type="text" class="validate[required] scinput validate[custom[MobilePhone]]" maxlength="11" value="" style="width:100px" /> <select name="wuliorhuaxue" class="validate[required] scinput" style="width:70px;"><option value="1" selected="selected">物理</option><option value="2">化学</option><option value="3">全部</option> </select ><a onclick="addquanlityin(this)" class="addclass">添加</a><a onclick="deleteRow(this)" class="deleclass">删除</a></span>';
            $(obj).parent().parent().append(html);

        }
        //function addluhao(obj) {
        //    var html = '<span class="inputspan" style="margin-left:70px;"><input placeholder="姓名" name="luhaoName"  type="text"  value="" class="validate[required] scinput " style="width:100px;" />  <input placeholder="手机号" name="luhaoTel" type="text" class="validate[required] scinput validate[custom[MobilePhone]]" maxlength="11" value="" style="width:100px" /><a onclick="addluhao(this)" class="addclass">添加</a> <a onclick="deleteRow(this)" class="deleclass">删除</a></span>';
        //    $(obj).parent().parent().append(html);

        //}



        function deleteRow(obj) {
            var next = $(obj).parent().parent().children("span");
            if (next.length == 1) {
                layer.msg("当前行不允许删除");
            } else {
                $(obj).parent().remove();
            }

        }




    </script>
</body>
</html>