@page
@inject ICMSService _cmsService
@{
    ViewData["Tag"] = 5;
    ViewData["Title"] = "新闻中心";
    ViewData["Desc"] = "新闻中心";
    var siteBasic = _cmsService.GetBasic();
    var mngSetting = _cmsService.GetSetting();
    ViewBag.SiteBasic = siteBasic;
    ViewBag.SiteSetting = mngSetting;


}
@section head{
    <link href="/Content/css/news.css" rel="stylesheet" />
}

<div class="container-fluid matter">
    <div class="row news_nav">
        <div class="col-xs-12">
            <a href="/News">企业新闻</a>
            <a href="/News/Dynamic" class="current">行业动态</a>
            <a href="/News/Hotspot">本周热点</a>
        </div>
    </div>
    <div class="row news_list">
        <div class="col-xs-12">
            @{
                var News = _cmsService.IcontentColumnDataService.GetContentColumnDataList("鸿泰动态", 1, 100);
                if (News != null)
                {
                    for (int i = 0; i < News.Count; i++)
                    {
                        <a href="/News/NewsDetail/@Html.Raw(News[i]["cid"]+"/"+News[i]["Id"]+".html")">
                            <div class="news_time">
                                @Util.Extensions.GetDateTimeFromUnixTime(Convert.ToInt64(News[i]["Createtime"])).ToString("MM-dd")
                            </div>
                            <p class="news_details">@Html.Raw(News[i]["Title"])</p>
                            <div class="clearfix"></div>
                        </a>
                    }
                }
            }
        </div>
    </div>

</div>