@page
@inject ICMSService _cmsService;
@{ 
    ViewData["Title"] = "在线招聘";
    ViewData["Desc"] = "在线招聘";
}
@section head{

}

<!-- 主体 -->

<div id="main" class="part">

    <ul id="menu" class="fl">
        <li class="on">
            <a href="/Humanresources/">
                <i class="icon-chevron-right"></i>在线招聘
            </a>
        </li>
    </ul>
    @{
        var Resource = _cmsService.GetSinglePage("在线招聘");
        if (Resource != null)
        {
            <div id="content" class="fr">
                <div class="tit"><h1>@Html.Raw(Resource.Title)</h1></div>
                <div class="con">@Html.Raw(Resource.Content)</div>
            </div>
        }
    }
</div>

