@page "{cid:int}/{Id:int}.html"
@inject ICMSService _cmsService
@{
    ViewData["Tag"] = 0;
    var siteBasic = _cmsService.GetBasic();
    var mngSetting = _cmsService.GetSetting();
    int CId = Convert.ToInt32(RouteData.Values["CId"]);
    int Id = Convert.ToInt32(RouteData.Values["Id"]);
    var model = _cmsService.IcontentColumnDataService.GetContentColumnData(Id, CId);
    ViewData["Title"] = model["title"];
    ViewData["Desc"] = model["description"];
}
@section head
    {
    <link rel="stylesheet" type="text/css" href="/Content/css/fengcai.css">
}

<span class="stipulation_width position">
    <a href="~/">首页</a>><a href=""> @Html.Raw(model["title"]) </a>
</span>

<div class="stipulation_width container_box list_box">
    <div class="article" style="min-height:586px;">
        @Html.Raw(Util.Extensions.ToHtml(model["content"].ToString()))
    </div>
</div>
