@page
@using System.Web;
@inject ICMSService _cmsService
@inject DataLibrary.DataContext Db
@{ 
    ViewData["Title"] = "设置密码";
    ViewData["Desc"] = "设置密码";
    ViewData["Tag"] = 3;
    var siteBasic = _cmsService.GetBasic();
    var mngSetting = _cmsService.GetSetting();
    ViewBag.SiteBasic = siteBasic;
    ViewBag.SiteSetting = mngSetting;
}
@functions{
    /// <summary>
    /// Gets or sets 页面提示
    /// </summary>
    public string Msg { get; set; }

    [BindProperty]
    public string SetPwd { get; set; }

    [BindProperty]
    public string SetPwd2 { get; set; }

    /// <summary>
    /// Gets or sets 认证Token
    /// </summary>
    [BindProperty]
    public string S { get; set; }

    public void OnGet()
    {
        if (!this._cmsService.IuserService.IsAuth || !this._cmsService.IuserService.IsManageMember)
        {
            this.Response.Redirect(_cmsService.GetSetting().Domain_WAP);
        }
    }

    public void OnPost()
    {
        if (this.SetPwd.Length < 6)
        {
            this.Msg = "密码长度应不少于6位";
            return;
        }
        else if (this.SetPwd != this.SetPwd2)
        {
            this.Msg = "两次输入的密码不致";
            return;
        }
        else
        {
            var mngAdmin = this._cmsService.IuserService.ApplicationUser.Mng_admin;
            mngAdmin.Password = Util.Helpers.Encrypt.Md5By32(this.SetPwd);

            Db.MngAdmin.Update(mngAdmin);
            Db.SaveChanges();

            this.Response.Redirect($"{this._cmsService.GetSetting().Domain_WAPManage}SetAuth?s={this.S}");
        }
    }


}
@section head{
    <link rel="stylesheet" type="text/css" href="/Content/css/login.css">
    @*<link type="text/css" href="/Content/js/layui/css/layui.css" rel="stylesheet" />*@
    <script type="text/javascript" src="/Content/js/layui/layui.js"></script>
    <script type="text/javascript" src="/Content/js/login.js"></script>
}

<div class="container_box">
    <form  method="post" id="form1">
        <div class="portion stamp">
            <div class="title_bar">
                <img src="/Content/images/introduce.png" />
                <h1>设置您的密码</h1>
            </div>
            <div class="content">
                <div class="row_box">
                    <h2>密码</h2>
                    <div class="input_box"><input type="password" placeholder="设置您的密码" id="SetPwd" name="SetPwd" /></div>
                </div>
                <div class="row_box">
                    <h2>密码确认</h2>
                    <div class="input_box"><input type="password" id="SetPwd2" name="SetPwd2" placeholder="再输入一遍进行确认" /></div>
                </div>
                <span style="text-align:left;">设置密码后，下次可以使用手机号与密码登录</span>
                <div class="determine"><input class="common_button" type="button" value="确定" id="btn_SetPwd"></div>
            </div>
        </div>
    </form>
</div>

@section foot{
    @if(!string.IsNullOrEmpty(Model.Msg))
    { 
        <script type="text/javascript">
            layui.use('layer', function () {
                var $ = layui.jquery, layer = layui.layer;

                  layer.msg("@Html.Raw(Model.Msg)", { icon: 2 });
            });
        </script>
    }
}