@page
@model WarrantyManage.Pages.Manage.Site.ModelContent.ListModel
@inject Common.IService.IContentGroupService _contentService
@inject DataLibrary.DataContext _db
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>系统首页</title>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{ await Html.RenderPartialAsync("_ValidationCssPartial");}
    <script type="text/javascript">

    </script>
    <style type="text/css">
        .layui-table td {
            text-indent: 0px;
        }

        .layui-table td, .layui-table th {
            padding: 5px 15px;
        }
        .tree_select {
            color:red;
        }
        #listIframe {
            width: 83%;
            height: 100%;
        }
        .layui-tree li {
            margin-top:2px;
        }
        .border + li a cite{
            color:red;
        }
    </style>
</head>


<body>

    <div class="place">
        <ul class="placeul">
            <li><a href="javascript:void(0)">内容栏目管理</a></li>
            <li><a href="/Manager/Site/ModelContent/List">内容列表</a></li>
        </ul>
    </div>


    <div style="position:absolute;width:100%;height:100%;">
        <ul style="float:left;width:15%;margin:8px 0 8px 8px;border-right:1px solid #e5e5e5;height:100%;" id="demo2">
            <li style="font-size: 18px;font-style: normal;font-weight:bold;margin-bottom:6px;">栏目列表</li>
            <li class="border" style="height:1px;background-color:#e5e5e5;"></li>
        </ul>
        <iframe id="listIframe" name="listIframe" src="/Manage/Site/ModelContent/ListIframe"></iframe>
    </div>

    <script type="text/javascript">

        function getSelectedIds() {
            var selectedids = "";
            //获取最后一条选中项
            $("input[name='id']:checked").each(function () {
                selectedids += $(this).val() + ",";
            });

            return selectedids;
        }


        layui.use(['tree', 'layer'], function () {
            var layer = layui.layer
                , $ = layui.jquery;
            layui.tree({
                elem: '#demo2',  //指定元素
                skin: 'shihuang',
                nodes: @Html.Raw(Util.Helpers.Json.ToJson(_contentService.GetAllDataForRecursion(0, Model.ContentGroup.Id))),
                click: function (item) { //点击节点回调
                    $("#modelContentName").html(item.name + "列表");
                    $("#listIframe")[0].src = "/Manage/Site/ModelContent/ListIframe?cid=" + item.id;
                }
            });
        });



        $("body").on("mousedown", ".layui-tree a", function () {
            $(".layui-tree a cite").css('color', '#333');
            $(this).find('cite').css('color', 'red');
        });

        $("#add").click(function () {
            layer.open({
                title: "添加" + contentName + "内容",
                type: 2,
                fixed: true, //不固定
                maxmin: true,
                content: ["/Manage/Site/ModelContent/Add?contentId=" + @Model.ContentGroup.Id, "no"],
                area: ['50%', '95%'],
            });
        });

        function Edit(Id, ContentId) {
            layer.open({
                title: "修改" + contentName + "内容",
                type: 2,
                fixed: true, //不固定
                maxmin: true,
                scrollbar: true,
                content: ["/Manage/Site/ModelContent/Add?Id=" + Id + "&contentId=" + ContentId, "no"],
                area: ['50%', '95%'],
            });
        }


        $("#delete").click(function () {
            var selectedids = getSelectedIds();

            if (selectedids.length <= 0) {
                layer.msg('请选中所需删除行！', { icon: 2 });
                return;
            }

            layer.confirm('确定删除该记录？此操作不可恢复！', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                $.ajax({
                    type: "POST",
                    url: "/ContentGroup/DeleteModelContent",
                    data: "Ids=" + selectedids + "&ContentId=" +@Model.ContentGroup.Id,
                    success: function (re) {
                        if (parseInt(re) > 0) {
                            layer.msg('操作成功', { icon: 1 });
                            setTimeout("window.location.reload();", 1000);
                        } else {
                            layer.msg('操作失败，请稍候重试', { icon: 2 });
                        }
                    }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.msg('操作失败，出现服务器错误！', { icon: 2 });
                    }
                });
            }, function () {

            });
        })

    </script>
</body>
</html>

