@charset "utf-8";
/* CSS Document */
/*---------------------------banner-------------------------- */
.perch{
    height: 99px;
}
.container-fluid.content{
    vertical-align:middle;
    padding: 0 12px 0 12px;
}
.container-fluid.content .row{
    margin-left: -12px;
    margin-right: -12px;
}
.container-fluid.content .row>div{
    padding-left: 12px;
    padding-right:12px;
    vertical-align: middle;
}