@import url("iconfont.css");

html,body{-webkit-touch-callout: none;padding:0;margin:0;}
body, button, input, select, textarea, label{
	font: 12px/1.5 '微软雅黑', tahoma, Srial, helvetica, sans-serif;
}
button, input, select, textarea{
	font: 16px/1.5 '微软雅黑', tahoma, Srial, helvetica, sans-serif;
}
button label{
	font: 16px/1.5 '微软雅黑', tahoma, Srial, helvetica, sans-serif;
}
.fr{ float: right; }
.fl{ float: left; }
.clear{ clear: both; }
[v-cloak]{ display: none; }
::-webkit-scrollbar {display: none;}
input{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
textarea{
	resize:none;
}
.v-seperator{
	background:#f5f5f5;
	height:12px;
}
.h-seperator{
	background:#f5f5f5;
	width:12px;
}
.h-line{
	background:#e5e5e5;
	height: 1px;
	background-image: -webkit-linear-gradient(bottom, #d9d9d9, #d9d9d9 50%,transparent 60%);
	background-image: linear-gradient(180deg, #d9d9d9, #d9d9d9 50%,transparent 60%);
	background-size: 100% 1px;
	background-repeat: no-repeat;
	background-position: bottom;
}
.v-line{
	background:#e5e5e5;
	height: 100%;
	width: 1px;
	background-image: -webkit-linear-gradient(right,#d9d9d9, #d9d9d9 50%, transparent 50%);
    background-image: linear-gradient(90deg,#d9d9d9, #d9d9d9 50%, transparent 50%);
    background-size:1px 100%;
    background-repeat: no-repeat;
    background-position: right;
}
.align-c{
	text-align: center;
}
.align-l{
	text-align: left;
}
.align-r{
	text-align: right;
}
.marginleft{
	margin-left:15px;
}

/*  0.5px hacker border  */
.bottomborder{
  background-image: -webkit-linear-gradient(bottom, #e5e5e5, #e5e5e5 50%,transparent 60%);
  background-image: linear-gradient(180deg, #e5e5e5, #e5e5e5 50%,transparent 60%);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-top:-1px;
  height: 1px;
  width: 100%;
}
.rightborder{
    background-image: -webkit-linear-gradient(right,#e5e5e5, #e5e5e5 50%, transparent 50%);
    background-image: linear-gradient(90deg,#e5e5e5, #e5e5e5 50%, transparent 50%);
    background-size:1px 100%;
    background-repeat: no-repeat;
    background-position: right;
}

.container{
	padding:5px 15px;
}

.btn-container{
	padding:12px;
}

.panel{
	background: white;
	padding:10px 15px;
}

.list{
	background: white;
}

.loadmore-wrapper{
    overflow: scroll;
}

/*  上传组件  */
.uploadphotos{ background:#fff; }
.uploadphotos p{font-size:16px;line-height:19px;}
.uploadphotos .photos{ padding:4px 0 9px 0; }
.uploadphotos .photos .btnscontent{
    margin:5px 10px 0 0;
}
.uploadphotos .photos button{
    padding:0;
    width:44px;
    background:white;
}
.uploadphotos .photos .btnscontent{
    float: left;
    display:none;
    position:relative
}
.uploadphotos .photos .btnscontent.visiable{
    display:block;
}
.uploadphotos .photos img{width:44px;height:44px;}
.uploadphotos .photos .tips{
    font-size:12px;
    color:#b2b2b2;
    line-height:120%;
    margin:8px 0 0 0;
}
.uploadphotos .photos .btnscontent span{
            width: 20px;height: 20px;border-radius: 10px;
            text-align: center; position: absolute;
            background-color: red;color: white;z-index: 10;
            top: -6px;line-height: 20px;
            right: -8px;cursor:pointer
}
.uploader-list {float:left;}
.uploader-list > div{
        display: inline-block;
        margin-right: 10px;
        position: relative;
}
.uploader-list > div .info{
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 10px;
    text-align: center;
}
.uploader-list > div .info a{display:block;width:100%;height:100%; line-height:20px;color:white;}

/* override the lib style */
.mint-cell-allow-right::after {
    border: solid 1px #c8c8cd;
    border-bottom-width: 0;
    border-left-width: 0;
    content: " ";
    top:50%;
    right:20px;
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
}

.mint-indicator-wrapper{
    z-index: 99999;
}

.zui-dropdown-cell .mint-cell-allow-right::after { 
	border: solid 1px #c8c8cd;
    border-bottom-width: 0;
    border-left-width: 0;
    content: " ";
    top:50%;
    right:20px;
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-transform: translateY(-50%) rotate(135deg);
            transform: translateY(-50%) rotate(135deg);
}
.zui-dropdown-cell .mint-field-other .mint-cell-allow-right { 
	padding: 10px 25px;
}

.mint-cell:first-child .mint-cell-wrapper{
	background-image:none;
}

.zui-lisenseplate .mint-cell:first-child .mint-cell-wrapper{
	background-image: -webkit-linear-gradient(top,#d9d9d9,#d9d9d9 50%,transparent 0);
    background-image: linear-gradient(180deg,#d9d9d9,#d9d9d9 50%,transparent 0);
}

.nodata{
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    color: #d9d9d9;
    font-size:14px;
  } 
.nodata ul{
    padding:0px;margin:0px;list-style:none;
    display: table-cell;
    vertical-align: middle;
    height: 80vh;
    width: 10000vh;
}
.nodata ul li{
    color:#999;
    font-size:14px;
}