@page "{cid:int}/{Id:int}.html"
@inject ICMSService _cmsService
@section head{
    <link href="/Content/css/mien.css" rel="stylesheet" />
}
@{
    ViewData["Tag"] = 5;
    int CId = Convert.ToInt32(RouteData.Values["CId"]);
    int Id = Convert.ToInt32(RouteData.Values["Id"]);
    var model = _cmsService.IcontentColumnDataService.GetContentColumnData(Id, CId);
    ViewData["Title"] = model["Title"];
    string content = Util.Extensions.ToHtml(model["Content"].ToString());
    ViewData["Desc"] = content.Length > 30 ? content.Substring(0, 30) : content;
    var siteBasic = _cmsService.GetBasic();
    ViewBag.SiteBasic = siteBasic;
    var mngSetting = _cmsService.GetSetting();
    ViewBag.SiteSetting = mngSetting;
}
    <div class="container-fluid matter">
        <div class="row mien_content">
            <div class="col-xs-12">
                <p>@Html.Raw(model["Content"].ToString().Replace("<img src=\"/../", "<img src=\"" + mngSetting.Domain_PC))</p>
                @if (model["Image"].SafeString() != string.Empty)
                {
                    foreach (var imgItem in model["Image"].ToString().Split(','))
                    {
                        <div style="max-width: 100%; margin: 10px auto;">
                            <img src="@mngSetting.Domain_PC.Substring(0, mngSetting.Domain_PC.Length - 1)@Html.Raw(imgItem)" />
                        </div>
                    }
                }

                @Html.Raw(model["Title"])
            </div>
        </div>
    </div>