#main {
    width: 980px;
}

#parta {
    height: 350px;
    margin-bottom: 15px;
}

#partb {
    background: #FFF;
    padding: 10px 20px;
    height: 250px;
    margin-bottom: 15px;
}

#partc {
    height: 145px;
    background: url(Public/Home/images/partc_bg.jpg) top center no-repeat;
    margin-bottom: 15px;
}

#partb .hd {
    height: 40px;
    background: url(Public/Home/images/img.png) no-repeat;
}

#partb .more {
    width: 50px;
    height: 20px;
    background: url(Public/Home/images/img.png) 0 -130px no-repeat;
}

    #partb .more a {
        width: 50px;
        height: 20px;
        display: block;
    }

#jdtp {
    width: 980px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

    #jdtp .pic li img {
        width: 980px;
        height: 350px;
    }

    #jdtp .next,
    #jdtp .prev {
        background: url(Public/Home/images/ico.png) no-repeat;
        width: 15px;
        height: 25px;
        position: absolute;
        left: 945px;
        top: 150px;
        cursor: pointer;
    }

    #jdtp .prev {
        background-position: 0 -25px;
        left: 20px;
    }

#gsjj {
    width: 325px;
    margin-right: 25px;
}

    #gsjj .con img {
        width: 325px;
        height: 100px;
        margin-bottom: 6px;
    }

    #gsjj .con p {
        height: 78px;
        overflow: hidden;
        line-height: 26px;
        color: #333;
        font-size: 12px;
        margin-bottom: 6px;
    }

#xwzx {
    width: 335px;
}

    #xwzx ul {
        height: 190px;
        background: url(Public/Home/images/xwzx_bg.jpg) right 13px no-repeat;
    }

        #xwzx ul li {
            line-height: 30px;
            height: 30px;
            background: url(Public/Home/images/xwzx_li_bg.jpg) left 2px no-repeat;
            padding-left: 25px;
            margin-bottom: 8px;
            overflow: hidden;
        }

            #xwzx ul li a,
            #xwzx ul li a:visited {
                color: #666666;
                font-size: 12px;
            }

#lxwm {
    width: 230px;
}

    #lxwm .con {
        height: 190px;
    }

    #lxwm p {
        line-height: 30px;
        color: #000;
    }

#cpzx {
    padding-left: 250px;
    padding-top: 10px;
}

    #cpzx li {
        width: 216px;
        height: 56px;
        margin: 0 10px;
        margin-bottom: 10px;
        display: inline;
        float: left;
        border: 2px solid #D0D0D0;
    }

        #cpzx li img {
            width: 216px;
            height: 56px;
            display: block;
        }


.itemFloat {
    height: auto;
}

#scrollbox li {
    height: 48px;
    width: 48px;
    background: url(Public/Home/images/img.png) no-repeat #FFF;
    padding: 0;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

    #scrollbox li span {
        display: none;
        line-height: 48px;
        font-size: 16px;
        color: #666;
        position: absolute;
        z-index: 100;
        background: url(Public/Home/images/img.png) no-repeat #FFF;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    #scrollbox li.wx {
        background-position: 0 -300px;
    }

    #scrollbox li.qq {
        background-position: 0 -350px;
    }

    #scrollbox li.tel {
        background-position: 0 -400px;
    }

    #scrollbox li.gotop {
        background-position: 0 -450px;
    }

    #scrollbox li.wx span {
        width: 80px;
        height: 80px;
        left: -32px;
        top: -32px;
        background: url(Public/Home/images/2wm.jpg) top center no-repeat;
    }

    #scrollbox li.qq span {
        background-position: 0 -350px;
        width: 110px;
        left: -112px;
        padding-left: 50px;
    }

    #scrollbox li.tel span {
        background-position: 0 -400px;
        width: 110px;
        left: -112px;
        padding-left: 50px;
    }

    #scrollbox li.hover span {
        display: block;
    }

#main {
    width: 980px;
    background: url(Public/Home/images/menu_bg.jpg) left top repeat-y #FFFFFF;
}

#content {
    width: 720px;
    padding-top: 20px;
    margin-right: 10px;
}

.tit {
    border-bottom: 1px solid #E3E3E3;
}

    .tit h1 {
        font-size: 24px;
        line-height: 60px;
        text-align: center;
        font-weight: normal;
    }

#content .con {
    padding: 20px 0px;
}

#content p {
    line-height: 32px;
    font-size: 14px;
    color: #333;
}

#list {
    width: 720px;
    padding-top: 20px;
    margin-right: 10px;
}

.imglist li {
    width: 215px;
    height: 165px;
    line-height: 35px;
    display: inline;
    background: #F6F6F6;
    float: left;
    margin: 0 12px;
    margin-bottom: 12px;
    text-align: center;
}

    .imglist li img {
        width: 215px;
        height: 130px;
    }

    .imglist li a,
    .imglist li a:visited {
        color: #333;
        font-size: 12px;
    }

#list .title_box {
    padding-bottom: 10px;
}

#list .title_box {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
}

    #list .title_box h1 {
        font-size: 16px;
        font-weight: 600;
        font-family: inherit;
        display: inline-block;
    }

    #list .title_box small {
        font-size: 16px;
        color: #666;
    }

#list .row_box h2 {
    font-size: 14px;
    font-weight: inherit;
    display: table-cell;
    line-height: 44px;
    padding-right: 10px;
}

#list .row_box .input_box {
    min-width: 100%;
    display: table-cell;
    
}

#list .content input {
    display: block;
    color: #999;
    border: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    margin-right: 12px;
}

#list .content .row_box {
    position: relative;
    padding-bottom: 10px;
}

    #list .content .row_box input {
        width: 270px;
    }

    #list .content .row_box p {
        padding-left: 52px;
        font-size: 14px;
        color: #999;
    }

#list .content .btn_code {
    margin-top: 18px;
    position: absolute;
    left: 364px;
    top: 2px;
    z-index: 120;
    width: 140px;
    height: 38px;
    background: none;
    border: 1px solid #a1010d;
    border-radius: 4px;
    font-size: 14px;
    color: #a1010d;
    cursor: pointer;
}

#list .search_result {
    background-color: #f6f6f6;
    padding: 10px;
}

table tr > td:nth-child(odd) {
    text-align: right;
    color: #666;
}

table tr > td:nth-child(even) {
    text-align: left;
    color: #333;
    padding-right: 27px;
}

table tr td {
    padding: 8px 0px 8px 0;
    font-size: 14px;
}

#list .content .row_box .common_button {
    margin-top: 18px;
    background: #a1010d;
    color: #fff;
    width: 140px;
    position: absolute;
    left: 364px;
    top: 2px;
    border: none;
    z-index: 200;
    cursor: pointer;
}

#list .title1 {
    padding-top: 20px;
}

#list .search_result img {
    max-width: 300px;
}
