@page "{cid:int}/{Id:int}.html"
@inject ICMSService _cmsService
@{
    int CId = Convert.ToInt32(RouteData.Values["CId"]);
    int Id = Convert.ToInt32(RouteData.Values["Id"]);
    var model = _cmsService.IcontentColumnDataService.GetContentColumnData(Id, CId);
    ViewData["Title"] = model["Title"];
    string content = Util.Extensions.ToHtml(model["Content"].ToString());
    ViewData["Desc"] = content.Length> 30? content.Substring(0, 30) : content;
    var siteBasic = _cmsService.GetBasic();
    var mngSetting = _cmsService.GetSetting();
    ViewBag.SiteBasic = siteBasic;
    ViewBag.SiteSetting = mngSetting;

}
@section head{

}

<div id="main" class="part">

    <ul id="menu" class="fl">
        <li>
            <a href="/CompanyDescription/">
                <i class="icon-chevron-right"></i>总经理致辞
            </a>
        </li>
        <li>
            <a href="/CompanyDescription/Introduction">
                <i class="icon-chevron-right"></i>公司简介
            </a>
        </li>
        <li class="on">
            <a href="/CompanyDescription/Greatevents/0-1.html">
                <i class="icon-chevron-right"></i>公司大事记
            </a>
        </li>
        <li>
            <a href="/CompanyDescription/ContactUs">
                <i class="icon-chevron-right"></i>联系我们
            </a>
        </li>
    </ul>


    <div id="list" class="fr">
        <div id="content" class="fr">
            <div class="tit"><h1>@Html.Raw(model["Title"])</h1></div>
            <div class="con">
                <p>@Html.Raw(model["Content"].ToString().Replace("<img src=\"/../", "<img src=\"" + mngSetting.Domain_PC))</p>
            </div>
        </div>
    </div>
</div>