@page "{tid:int}-{p:int}.html"
@inject ICMSService _cmsService
@inject IContentGroupService _contentService
@{
    ViewData["Title"] = "公司大事件";
    ViewData["Desc"] = "公司大事件";
}
@section head{

}
@functions{
    private int pageSize = 6;

    public int NewsTypeId { get; set; }

    public int PageIndex { get; set; }

    public int PageCount { get; set; }

    public List<Dictionary<string, object>> dict { get; set; }

    public List<DataLibrary.SiteModelColumn> NewsType { get; set; }

    public new int Page { get; set; }

    public void OnGet(int? tid, int? p)
    {
        this.Page = p ?? 1;
        this.PageIndex = (p.HasValue && p < 1) ? 0 : (p.Value - 1) * this.pageSize;
        this.NewsTypeId = tid ?? 0;
        this.PageCount = _cmsService.IcontentColumnDataService.GetContentCount("公司大事件");
    }
}


<!-- 主体 -->

<div id="main" class="part">

    <ul id="menu" class="fl">
        <li>
            <a href="/CompanyDescription/">
                <i class="icon-chevron-right"></i>总经理致辞
            </a>
        </li>
        <li>
            <a href="/CompanyDescription/Introduction">
                <i class="icon-chevron-right"></i>公司简介
            </a>
        </li>
        <li class="on">
            <a href="/CompanyDescription/Greatevents/0-1.html">
                <i class="icon-chevron-right"></i>公司大事记
            </a>
        </li>
        <li>
            <a href="/CompanyDescription/ContactUs">
                <i class="icon-chevron-right"></i>联系我们
            </a>
        </li>
    </ul>


    <div id="list" class="fr">
        <ul class="list1">
            @{
                var Event = _cmsService.IcontentColumnDataService.GetContentColumnDataList("公司大事件", Page, pageSize);
                if (Event != null)
                {
                    for (var i = 0; i < Event.Count; i++)
                    {
                        <li>
                            <span> @Util.Extensions.GetDateTimeFromUnixTime(Convert.ToInt64(Event[i]["CreateTime"])).ToString("yyyy-MM-dd")</span>
                            <a href="/CompanyDescription/Detail/@Html.Raw(Event[i]["cid"] + "/" + Event[i]["Id"] + ".html")">
                                @Html.Raw(Event[i]["Title"])
                            </a>
                        </li>
                    }
                }
            }
        </ul>
        <div id="Pagination">
            @await Component.InvokeAsync("PageList", new { PageSize = this.pageSize, PageIndex = this.Page, PageCount = this.PageCount, PageUrl = Model.NewsTypeId + "-{0}.html", PageText = "{0}", ShowCount = 6, ShowAll = false })
        </div>
    </div>
</div>