<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="DBConnectionString" value="Server=192.168.0.120; Port=3306; Uid=warranty; Pwd=warranty123456; Database=warranty_hongtai"/>
    <add key="WorkshopProductLine" value="L" />
    <add key="ProductLine" value="A" />
    <add key="QRCodeUrlString" value="http://cnzui.com/c2" />
    <add key="ShorturlAPIUrl" value="https://api.weibo.com/2/short_url/shorten.json?source=3271760578 " />
    <add key="WeightDeviceCOM" value="COM1" />
    <!--打印配置开始-->
    <add key="DefaultPrinter" value="SATO GL408e" />
    <!--<add key="PageWidth" value="370" />-->
    <!--<add key="PageHeight" value="230" />-->
    <!--标牌宽-->
    <add key="PageWidth" value="397" />
    <!--标牌高-->
    <add key="PageHeight" value="246" />
    <!--DEMO的X轴偏移量-->
    <add key="OffsetX_DEMO" value="0" />
    <!--DEMO的Y轴偏移量-->
    <add key="OffsetY_DEMO" value="-5" />
    <!--X轴偏移量-->
    <add key="OffsetX" value="" />
    <!--Y轴偏移量-->
    <add key="OffsetY" value="-14" />
    <!--字体-->
    <add key="FontSize" value="14" />
    <!--品名-->
    <add key="ProductClassPoint" value="" />
    <!--国家生产标准-->
    <add key="GBStandardPoint" value="222,54" />
    <!--材质（牌号）-->
    <add key="MaterialPoint" value="" />
    <!--炉批号-->
    <add key="BatcodePoint" value="176,86" />
    <!--检验码-->
    <add key="RandomcodePoint" value="305,86" />
    <!--规格-->
    <add key="SpecPoint" value="95,118" />
    <!--长度-->
    <add key="LengthPoint" value="197,118" />
    <!--重量-->
    <add key="WeightPoint" value="95,150" />
    <!--支数-->
    <add key="PiececountPoint" value="188,150" />
    <!--时间-->
    <add key="DatePoint" value="76,180" />
    <!--捆号-->
    <add key="BundlecodePoint" value="195,180" />
    <!--班组-->
    <add key="WorkshiftPoint" value="" />
    <!--质检员-->
    <add key="QAInspectorsPoint" value="" />
    <!--二维码-->
    <add key="QRCodePoint" value="256,156" />
    <!--二维码宽度-->
    <add key="QRCodeWidth" value="77" />
    <!--打印配置结束-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="StartBundle" value="1" />
    <!--非尺出库编号-->
    <add key="UnfixedLengthNumber" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
</configuration>