@page
@{
    Layout = null;
    Response.StatusCode = 500;
}
@inject Common.IService.ILogService _logServices
@using Microsoft.AspNetCore.Diagnostics

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>系统出现错误</title>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{ await Html.RenderPartialAsync("_ValidationCssPartial");}
    <script language="javascript">
        $(function () {
            $('.error').css({ 'position': 'absolute', 'left': ($(window).width() - 490) / 2 });
            $(window).resize(function () {
                $('.error').css({ 'position': 'absolute', 'left': ($(window).width() - 490) / 2 });
            })
        });
    </script>
    <style type="text/css">
        .error {
            position: absolute;
            left: 429.5px;
            top: -50px;
            /*background-image: url('/images/error2.png');*/
        }

        .error h2 {
            font-size: 22px;
            margin-top: 20px;
            color: black;
        }

        .error p {
            /* padding-left: 154px; */
            line-height: 35px;
            color: #717678;
            margin-top: 20px;
            font-size: 14px;
        }

        .error p a {
            color: blue;
        }
    </style>

</head>


<body style="background:#fff;">
    @{
        //捕获异常
        IExceptionHandlerFeature exf = HttpContext.Features.Get<IExceptionHandlerFeature>();
        Exception ex = exf?.Error;
        //写入日志
        @if (ex != null)
        {
            //记录文件
            _logServices.LogError(_logServices.GetLogStr(this.HttpContext, ex));
            //页面提示元素
            <div class="error">
                <img src="/images/Error.png" style="width:520px;" />
                <h2>服务器内部错误，不能执行该请求</h2>
                <button class="layui-btn" onclick="javascript: window.history.go(-1);" style="margin-top:20px;background-color: #c2c2c2;border-radius:8px;">
                    <i class="layui-icon">&#xe65c;</i> 返回上一页
                </button>
            </div>

        }
    }

</body>
</html>
