<div class="loginpanel">
    <div class="title_bar">
        <img src="~/images/introduce.png" />
        <h1>用户信息</h1>
        <div class="clearfix"></div>
    </div>
    <div class="stamp">
        <div class="logintext">欢迎您，@Html.Raw(ViewData["Username"]) ！</div>
        <div class="determine">
            <a href="/Manage/"><input class="common_button" type="button" value="进入管理中心"></a>
        </div>
    </div>
</div>