<div class="loginpanel">
    <div class="title_bar">
        <img src="~/images/introduce.png" />
        <h1>用户登录</h1>
        <div class="clearfix"></div>
    </div>
    <div class="stamp">
        <div class="row_box">
            <h2>登录名</h2>
            <div class="input_box">
                <input type="text" placeholder="手机号/用户名" id="UserName" name="UserName">
            </div>
        </div>
        <div class="row_box">
            <h2>密码</h2>
            <div class="input_box">
                <input type="password" placeholder="请输入密码" id="Pwd" name="Pwd">
            </div>
        </div>
        <span>
            <a href="/?t=first">首次登录/忘记密码</a>
        </span>
        <input class="common_button" id="btnLogin_ByUserName" type="button" value="确定">
    </div>
</div>