@page
@inject ICMSService _cmsService
@{
    ViewData["Tag"] = 3;
    ViewData["Title"] = "销售";
    ViewData["Desc"] = "销售";
    var siteBasic = _cmsService.GetBasic();
    var mngSetting = _cmsService.GetSetting();
    ViewBag.SiteBasic = siteBasic;
    ViewBag.SiteSetting = mngSetting;
}
@section head
    {
    <link rel="stylesheet" type="text/css" href="/Content/css/sales.css">
}

<div class="banner_share">
    <img src="/Content/images/selling_network.jpg" />
</div>

<div class="network padding_box">
    @{
        var Sale = _cmsService.GetSinglePage("销售电话");
        if (Sale != null)
        {
            <div>
                @Html.Raw(Sale.Content)
            </div>
        }
    }
            <div class="linkdiv">
                <strong class="linkstyle"><a href="http://m.31goods.com/priceindex/26/4-6/today" target="_blank">郑州钢材今日行情</a></strong><br />

                <strong class="linkstyle"><a href="http://m.31goods.com/priceindex/31/2-2/today" target="_blank">济南钢材今日行情</a></strong><br />

                <strong class="linkstyle"><a href="http://m.31goods.com/priceindex/29/2-2/today" target="_blank">南京钢材今日行情</a></strong><br />

                <strong class="linkstyle"><a href="http://m.31goods.com/priceindex/9/2-2/today" target="_blank">合肥钢材今日行情</a></strong><br />

                <strong class="linkstyle"><a href="http://m.31goods.com/priceindex/37/4-6/today" target="_blank">武汉钢材今日行情</a></strong>
            </div>
    <img src="/Content/images/network.jpg" />
</div>