@charset "utf-8";
/* CSS Document */

body {
    background: #fafafa;
}
.header .left span {
    position: relative;
    top: 36px;
}
	.position{
		display: block;
		color: #999;
		font-size: 15px;
		margin-top: 6px;
	}
	
	.list_box{
		padding:18px 0 80px 0;
	}
	/* left_list --------------------------------------*/
	.left_list{
		float:left;
		background:#fff;
		width:890px;
		padding-left:22px;
	}
	.left_list .row_box {
		padding-top:30px;
		display:block;
	}
	.left_list .row_box img{
		float:left;
		width:166px;
		height:116px;
	}	
	.left_list .row_box .content_box{
		float:left;
		width:686px;
		margin-left: 20px;
		border-bottom:1px solid #e5e5e5;
		padding-bottom:32px;
	}
	.left_list .row_box h2{
		font-size:18px;
		font-weight:600;
		margin:1px 0 16px 0;
		color:#333;
	}
	.left_list .row_box:hover>.content_box> h2,
    .left_list .row_box:focus>.content_box> h2,
    .left_list .row_box:active>.content_box> h2,
    .left_list .row_box:hover>.content_box> p,
    .left_list .row_box:focus>.content_box> p,
    .left_list .row_box:active>.content_box> p{
		text-decoration:underline;
	}
        .left_list .row_box:hover > .nopiccontent_box > h2,
        .left_list .row_box:focus > .nopiccontent_box > h2,
        .left_list .row_box:active > .nopiccontent_box > h2,
        .left_list .row_box:hover > .nopiccontent_box > p, 
        .left_list .row_box:focus > .nopiccontent_box > p,
        .left_list .row_box:active > .nopiccontent_box > p {
            text-decoration: underline;
        }
       
	.left_list .row_box p{
		font-size:17px;
		color:#666;
		line-height:26px;
		margin-bottom:8px;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
	}
	.left_list .row_box span{
		font-size:17px;
		color:#666;
	}
	.left_list .content_box .detail{
		font-size:17px;
		color:#e50011;
		margin-left: 60px;
	}
        .left_list .nopiccontent_box .detail {
            font-size: 17px;
            color: #e50011;
            margin-left: 60px;
        }
	/*页码*/
	.pagenumber_box{
		padding:10px 22px 10px 0;
	}
	.pagenumber_box a{
		border:1px solid #e5e5e5;
		background: #fff;
		box-shadow: none;
		margin-bottom:0;
		padding:0;
	}
	.pagenumber_box *{
		font-size:16px;
	}
	.pagenumber_box .total{
		float:left;
		line-height:92px;
	}
	.pagenumber_box a:focus,.pagenumber_box a:active,.pagenumber_box a:hover{
		border:1px solid #e50011;
		background:#e50011;
		color:#fff;
	}
	
	.pagenumber_box .pagenumber{
		float:right;
		margin: 26px 36px 0 0;
	}
	.pagenumber a{
		width: 38px;
		height: 38px;
		border-radius: 2px;
		color: #999;
		margin-left:9px;
		border: 1px solid #e5e5e5;
		background: #fff;
		box-shadow: none;
		margin-bottom: 0;
		padding: 0;
		display: block;
		float: left;
		line-height: 38px;
		text-align: center;
	}
	.pagenumber .ellipsis{
		float:left;
		margin-left:9px;
		line-height:36px;
	}
	.pagenumber span{
		color:#999;
	}
	.pagenumber a span{
			width: 0;
			height: 0;
			border-top: 6px solid transparent;
			border-right: 7px solid #b3b3b3;
			border-bottom: 5px solid transparent;
			font-size: 0px;
			margin-left: -1px;
			vertical-align: middle;
	}
	.pagenumber_box a:focus >span,.pagenumber_box a:active >span,.pagenumber_box a:hover >span{
		border-right: 7px solid #fff;
	}
	.pagenumber_box a:focus >.span_right,.pagenumber_box a:active >.span_right,.pagenumber_box a:hover >.span_right{
		border-right:0;
		border-left: 7px solid #fff;
	}
	.pagenumber a .span_right{
			border-right:none;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-left:7px solid #b3b3b3;
			margin: 15px 0 0 17px;
	}
	.pagenumber .selected{
		border: 1px solid #ffa0a7;
		color: #ff505d;
		background: #fff3f4;
	}
	.pagenumber_box .jump{
		float:right;
	}
	.pagenumber_box .jump input{
		border: 1px solid #e5e5e5;
		width: 36px;
		height: 28px;
		border-radius:2px;
		text-align:center;
		font-size:16px;
	}
	.pagenumber_box .jump input:focus,.pagenumber_box .jump input:hover,.pagenumber_box .jump input:active{
		border: 1px solid #e5e5e5;
	}
	.jump span{
		line-height:92px;
	}
	.jump a{
		width:40px;
		height:40px;
		border-radius:2px;
		display:inline-block;
		background:#fff;
		border: 1px solid #e5e5e5;
		line-height:40px;
		text-align:center;
		color: #999;
	}
	/* right_nav --------------------------------------*/
	.right_nav{
		float:right;
		width:272px;
		background:#fff;
		min-height:690px;
	}
	.right_nav a{
		display:block;
	}
	
	.news_nav{
		padding:22px 0 66px 0;
	}
	.news_nav a{
		font-size:20px;
		color:#666;
		width:192px;
		margin:auto;
		line-height:50px;
		padding-left:36px;
		border-bottom:1px solid #e5e5e5;
	}
	.news_nav .current_box{
		color:#fff;
		background:#e50011;
		border-bottom:1px solid #fff;
	}
	
	.hot_news{
		width:228px;
		margin:auto;
	}
	.hot_news h1{
		font-size:18px;
		border-bottom:1px solid #e5e5e5;
		padding-bottom:16px;
		margin-bottom:8px;
	}
	.hot_news a{
		font-size:16px;
		color:#666;
		line-height:27px;
		padding:15px 0
	}
	.hot_news a:hover,.hot_news a:focus,.hot_news a:active{
		text-decoration:underline;
	}
	
	
	/*@media only screen and (max-width:1300px){*/
		.position {
			margin-top: 0;
		}
		
		.list_box {
			padding: 18px 0 70px 0;
		}
		
		.left_list {
			width: 688px;
			padding: 6px 0 0 20px;
		}
		.left_list .row_box img {
			width: 136px;
			height: 102px;
		}
		.left_list .row_box .content_box {
			width: 514px;
			margin-left: 18px;
			padding-bottom: 24px;
		}
            .left_list .row_box .nopiccontent_box {
                width: 624px;
                margin-left: 18px;
                padding-bottom: 24px;
                border-bottom: 1px solid #e5e5e5;
            }
		.left_list .row_box h2 {
			font-size: 17px;
			margin: 1px 0 13px 0;
		}
		.left_list .row_box p {
			font-size: 16px;
			line-height: 24px;
		}
		.left_list .row_box span {
    		font-size: 16px;
		}
		.left_list .content_box .detail {
			font-size: 16px;
			margin-left: 34px;
		}
        .left_list .nopiccontent_box .detail {
            font-size: 16px;
            margin-left: 34px;
        }
		.left_list .row_box {
			padding-top: 22px;
		}
		
		.pagenumber a {
			width: 36px;
			height: 36px;
			line-height: 36px;
		}
		.pagenumber a .span_right {
			margin: 13px 0 0 16px;
		}
		.pagenumber a span {
			margin-left: -2px;
		}
		.jump a {
			width: 36px;
			height: 36px;
			line-height: 36px;
			font-size: 15px;
		}
		.pagenumber_box .jump input {
			height: 26px;
			font-size: 15px;
		}
		.pagenumber_box .pagenumber {
			margin: 27px 22px 0 0;
		}
		.pagenumber_box {
			padding: 6px 22px 6px 0;
		}


        .right_nav {
            width: 238px;
            min-height: 690px;
        }
		.news_nav {
			padding: 16px 0 56px 0;
		}
		.news_nav a {
			font-size: 18px;
			width: 168px;
			line-height: 46px;
			padding-left: 38px;
		}
		.hot_news {
			width: 204px;
			margin: auto;
		}
		.hot_news a {
			font-size: 15px;
			line-height: 26px;
			padding: 12px 0;
		}
		.hot_news h1 {
			font-size: 17px;
			padding-bottom: 12px;
			margin-bottom: 6px;
		}
	/*}*/
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	