@charset "utf-8";
/* CSS Document */

.content h1,.content small{
	text-align:center;
}
.content h1{
	padding:18px 0 8px 0;
}
.content small{
	display: block;
	border-bottom:#999 1px dashed;
	font-size:10px;
	padding-bottom:17px;
	margin-bottom:15px;
}
.content img {
    width: 96%;
    margin: 0 2%;
    display: block;
    margin-bottom: 5px;
}
.content p{
	line-height:20px;
	text-indent: 2em;
	padding:5px 0;
}
.content{
	padding-bottom:32px;
}