@charset "utf-8";
/* CSS Document */

.network *{
	line-height:20px;
}
.network{
	margin:2px 0 36px 0;
}
.network h1{
	margin-top:14px;
	font-weight:inherit;
}
.network_contact small{
	display:inline-block;
}
.network_contact p{
	display:inline-block;
}
.network img{
	width:100%;
	margin-top:20px;
}
.linkstyle {
    display: -webkit-box;
   
}
    .linkstyle a {
        color: #06c;
    }
.linkdiv {
    margin-top:20px;
}