@charset "utf-8";
/* CSS Document */


.title_box{
	background-image: -webkit-linear-gradient(top, #ccc, #ccc 50%, transparent 50%);
    background-image: linear-gradient(180deg, #ccc, #ccc 50%, transparent 50%);
    background-size: 120% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
}
.title_box h1{
	width:54px;
	border-bottom:2px solid #a1010d;
	font-size:12px;
	line-height:26px;
	padding-top:13px;
}

.content p{
	line-height:20px;
	padding:12px 0 18px 0;
}

.content img{
	width:100%;
	display:block;
}
.row_box img{
	width:49.2%;
	float:left;
}
.row_box img:last-of-type{
	float:right;
}
.row_box{
	margin:5px 0;
}

.content{
	padding-bottom:40px;
}